openapi: 3.0.1
info:
  title: Order API
  description: <span class="tablenote"><b>Note:</b> This version of the Order API
    (v2) currently only supports the guest payment flow for eBay managed payments.
    To view the v1_beta version of the Order API, which includes both member and guest
    checkout payment flows, refer to the <a href="/api-docs/buy/order_v1/resources/methods">Order_v1
    API</a> documentation.</span><br /><br /><span class="tablenote"><b>Note:</b>
    This is a <a href="https://developer.ebay.com/api-docs/static/versioning.html#limited"
    target="_blank"><img src="/cms/img/docs/partners-api.svg" class="legend-icon partners-icon"  alt="Limited
    Release" title="Limited Release" />(Limited Release)</a> API available only to
    select developers approved by business units.</span><br /><br />The Order API
    provides interfaces that let shoppers pay for items. It also returns payment and
    shipping status of the order.
  contact:
    name: eBay Inc,
  license:
    name: eBay API License Agreement
    url: https://go.developer.ebay.com/api-license-agreement
  version: v2.0.0
servers:
- url: https://apix.ebay.com/buy/order/v2
paths:
  /guest_checkout_session/{checkoutSessionId}/apply_coupon:
    post:
      tags:
      - guest_checkout_session
      description: <span class="tablenote"><b>Note:</b> This version of the Order
        API (v2) currently only supports the guest payment flow for eBay managed payments.
        To view the v1_beta version of the Order API, which includes both member and
        guest checkout payment flows, refer to the <a href="/api-docs/buy/order_v1/resources/methods">Order_v1
        API</a> documentation.</span><br /><br /><a href="https://developer.ebay.com/api-docs/static/versioning.html#limited"
        target="_blank"><img src="/cms/img/docs/partners-api.svg" class="legend-icon
        partners-icon"  alt="Limited Release" title="Limited Release" />(Limited Release)</a>
        This method is only available to select developers approved by business units.<br
        /><br />This method adds a coupon to an eBay guest checkout session and applies
        it to all the eligible items in the order.<br /><br />The <b>checkoutSessionId</b>
        is passed in as a URI parameter and is required. The redemption code of the
        coupon is in the payload and is also required.<br /><br />For a list of supported
        sites and other restrictions, see <a href="/api-docs/buy/order/overview.html#API">API
        Restrictions</a> in the Order API overview.<br /><br />The URLs for this method
        are:<ul><li><b>Production URL:</b> <code>https://apix.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}/apply_coupon</code></li><li><b>Sandbox
        URL:</b> <code>https://apix.sandbox.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}/apply_coupon</code></li></ul>
      operationId: applyGuestCoupon
      parameters:
      - name: checkoutSessionId
        in: path
        description: The eBay-assigned session ID, for a specific eBay marketplace,
          that is returned by the <b> initiateGuestCheckoutSession</b> method.<br
          /><br /><span class="tablenote"><b>Note:</b> When using this ID, the X-EBAY-C-MARKETPLACE-ID
          value and developer App ID must be the same as that used when this guest
          checkout session was created. See <a href="/api-docs/buy/order/overview.html#checkout-restriction">Checkout
          session restrictions</a> in the Buy Integration Guide for details.</span>
        required: true
        schema:
          type: string
      - name: X-EBAY-C-MARKETPLACE-ID
        in: header
        description: A header that identifies the user's business context and is specified
          using a marketplace ID value.<br /><br /><span class="tablenote"><b>Note:</b>
          This header does <i>not</i> indicate a language preference or consumer location.</span><br
          /><br />See <a href="/api-docs/static/rest-request-components.html#marketpl"
          target="_blank">Marketplace ID values</a> for a list of supported values.
        required: true
        schema:
          type: string
      requestBody:
        description: The container for the fields used to apply a coupon to a guest
          checkout session.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CouponRequest'
        required: false
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GuestCheckoutSessionResponseV2'
        400:
          description: Bad Request
          content: {}
          x-response-codes:
            errors:
              15025:
                domain: API_ORDER
                category: REQUEST
                description: The App is not authorized to access this resource.
              16002:
                domain: API_ORDER
                category: REQUEST
                description: The coupon does not exist. The coupon was ignored and
                  no discount was applied to this order.
              16003:
                domain: API_ORDER
                category: REQUEST
                description: The coupon has expired. No discount was applied to this
                  order.
              16004:
                domain: API_ORDER
                category: REQUEST
                description: The coupon has not been activated. The coupon was ignored
                  and no discount was applied to this order.
              15029:
                domain: API_ORDER
                category: REQUEST
                description: The X-EBAY-C-MARKETPLACE-ID value {fieldValue} is invalid
                  for this checkout session because it is different from the X-EBAY-C-MARKETPLACE-ID
                  header value used to create the session. For all calls in this checkout
                  session, you must use X-EBAY-C-MARKETPLACE-ID {supportedValues}.
              16006:
                domain: API_ORDER
                category: REQUEST
                description: The coupon code is invalid. The coupon was ignored and
                  no discount was applied to this order.
              16022:
                domain: API_ORDER
                category: REQUEST
                description: The coupon code is invalid. The coupon was ignored and
                  no discount was applied to this order.
              15032:
                domain: API_ORDER
                category: REQUEST
                description: After using the 'initiateGuestPayment' call, you cannot
                  make changes to the cart. If you need to change the cart, you must
                  start over using the 'initiateGuestCheckoutSession' call.
              16024:
                domain: API_ORDER
                category: REQUEST
                description: The coupon provided could not be applied. You may proceed
                  with this session or provide another coupon.
              15001:
                domain: API_ORDER
                category: REQUEST
                description: 'Missing field: {fieldName}. The indicated field is required
                  for this request. Add the field and resubmit the call.'
              15002:
                domain: API_ORDER
                category: REQUEST
                description: 'Invalid field: {fieldName}. The indicated field contains
                  an invalid value. Correct the value and resubmit the call.'
              15003:
                domain: API_ORDER
                category: REQUEST
                description: The checkout session requested does not exist.
        403:
          description: Access Forbidden
          content: {}
        404:
          description: Resource Not Found
          content: {}
        409:
          description: Conflict
          content: {}
          x-response-codes:
            errors:
              16000:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon is not valid for any of the items in the order.
                  The coupon was ignored and no discount was applied to this order.
              16001:
                domain: API_ORDER
                category: BUSINESS
                description: You cannot apply multiple coupons to the same order.
                  No discount was applied to this order.
              16005:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon requires the buyer to spend a specific monetary
                  amount. This threshold has not been met. The coupon was ignored
                  and no discount was applied to this order.
              16007:
                domain: API_ORDER
                category: BUSINESS
                description: This coupon has already been used. The coupon was ignored
                  and no discount was applied to this order.
              16008:
                domain: API_ORDER
                category: BUSINESS
                description: This coupon is no longer valid. The coupon was ignored
                  and no discount was applied to this order.
              16009:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon requires the buyer to spend a specific monetary
                  amount. This threshold has not been met. The coupon was ignored
                  and no discount was applied to this order.
              16010:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon is not valid for the currency being used by
                  the items. The coupon was ignored and no discount was applied to
                  this order.
              15019:
                domain: API_ORDER
                category: BUSINESS
                description: To place an order, you must have at least one line item.
                  Use the initiateCheckoutSession call to add line items (maximum
                  of {maxLineItems}) and create a new checkout session.
              16012:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon is not valid for the {fieldName}. The coupon
                  was ignored and no discount was applied to this order.
              15021:
                domain: API_ORDER
                category: BUSINESS
                description: This checkout session cannot be updated because the order
                  has already been placed.
              16013:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon is not valid for any of the item categories
                  in the order. The coupon was ignored and no discount was applied
                  to this order.
              16014:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon is not valid for the selected payment method.
                  The coupon was ignored and no discount was applied to this order.
              16015:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon is not valid for the selected shipping option.
                  The coupon was ignored and no discount was applied to this order.
              16016:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon is valid only for items that are shipped domestically.
                  The coupon was ignored and no discount was applied to this order.
              16017:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon is valid only for items that are shipped internationally.
                  The coupon was ignored and no discount was applied to this order.
              16018:
                domain: API_ORDER
                category: BUSINESS
                description: The buyer is not eligible for this coupon. The coupon
                  was ignored and no discount was applied to this order.
              15027:
                domain: API_ORDER
                category: BUSINESS
                description: 'The value {fieldValue} is not supported for the {fieldName}.
                  The supported values are: {supportedValues}.'
              16019:
                domain: API_ORDER
                category: BUSINESS
                description: The coupon is not valid for guest eBay checkouts. The
                  coupon was ignored and no discount was applied to this order.
              16023:
                domain: API_ORDER
                category: BUSINESS
                description: You cannot apply multiple coupons to the same order.
                  The coupon was ignored and no discount was applied to this order.
        500:
          description: Internal Server Error
          content: {}
          x-response-codes:
            errors:
              16020:
                domain: API_ORDER
                category: APPLICATION
                description: Your application is not eligible for this coupon. The
                  coupon was ignored and no discount was applied to this order.
              15000:
                domain: API_ORDER
                category: APPLICATION
                description: There was a problem with an eBay internal system or process.
                  Contact eBay developer support for assistance.
      security:
      - ClientCredentials:
        - https://api.ebay.com/oauth/api_scope/buy.guest.order
      x-codegen-request-body-name: body
  /guest_checkout_session/{checkoutSessionId}:
    get:
      tags:
      - guest_checkout_session
      description: <span class="tablenote"><b>Note:</b> This version of the Order
        API (v2) currently only supports the guest payment flow for eBay managed payments.
        To view the v1_beta version of the Order API, which includes both member and
        guest checkout payment flows, refer to the <a href="/api-docs/buy/order_v1/resources/methods">Order_v1
        API</a> documentation.</span><br /><br /><a href="https://developer.ebay.com/api-docs/static/versioning.html#limited"
        target="_blank"><img src="/cms/img/docs/partners-api.svg" class="legend-icon
        partners-icon"  alt="Limited Release" title="Limited Release" />(Limited Release)</a>
        This method is only available to select developers approved by business units.<br
        /><br />This method returns the details of the specified guest checkout session.
        The <b>checkoutSessionId</b> is passed in as a URI parameter and is required.
        This method has no request payload.<br /><br />For a list of supported sites
        and other restrictions, see <a href="/api-docs/buy/order/overview.html#API">API
        Restrictions</a> in the Order API overview.<br /><br />The URLs for this method
        are:<ul><li><b>Production URL:</b> <code>https://apix.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}</code></li><li><b>Sandbox
        URL:</b> <code>https://apix.sandbox.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}</code></li></ul>
      operationId: getGuestCheckoutSession
      parameters:
      - name: checkoutSessionId
        in: path
        description: The eBay-assigned session ID, for a specific eBay marketplace,
          that is returned by the <b> initiateGuestCheckoutSession</b> method.<br
          /><br /><span class="tablenote"><b>Note:</b> When using this ID, the X-EBAY-C-MARKETPLACE-ID
          value and developer App ID must be the same as that used when this guest
          checkout session was created. See <a href="/api-docs/buy/order/overview.html#checkout-restriction">Checkout
          session restrictions</a> in the Buy Integration Guide for details.</span>
        required: true
        schema:
          type: string
      - name: X-EBAY-C-MARKETPLACE-ID
        in: header
        description: A header that identifies the user's business context and is specified
          using a marketplace ID value.<br /><br /><span class="tablenote"><b>Note:</b>
          This header does <i>not</i> indicate a language preference or consumer location.</span><br
          /><br />See <a href="/api-docs/static/rest-request-components.html#marketpl"
          target="_blank">Marketplace ID values</a> for a list of supported values.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GuestCheckoutSessionResponseV2'
          x-response-codes:
            errors:
              20000:
                domain: API_ORDER
                category: BUSINESS
                description: This order contains the item {itemId} that may be subject
                  to certain importation permitting/licensing requirements. Please
                  check applicable regulations for specific import restrictions in
                  your country.
              20001:
                domain: API_ORDER
                category: BUSINESS
                description: This item {itemId} ships via a freight carrier. For information
                  regarding shipping, tracking, delivery, etc. check with the seller.
        400:
          description: Bad Request
          content: {}
          x-response-codes:
            errors:
              15025:
                domain: API_ORDER
                category: REQUEST
                description: The App is not authorized to access this resource.
              15029:
                domain: API_ORDER
                category: REQUEST
                description: The X-EBAY-C-MARKETPLACE-ID value {fieldValue} is invalid
                  for this checkout session because it is different from the X-EBAY-C-MARKETPLACE-ID
                  header value used to create the session. For all calls in this checkout
                  session, you must use X-EBAY-C-MARKETPLACE-ID {supportedValues}.
              15003:
                domain: API_ORDER
                category: REQUEST
                description: The checkout session requested does not exist.
        403:
          description: Access Forbidden
          content: {}
        404:
          description: Resource Not Found
          content: {}
        409:
          description: Conflict
          content: {}
          x-response-codes:
            errors:
              15027:
                domain: API_ORDER
                category: BUSINESS
                description: 'The value {fieldValue} is not supported for the {fieldName}.
                  The supported values are: {supportedValues}.'
        500:
          description: Internal Server Error
          content: {}
          x-response-codes:
            errors:
              15000:
                domain: API_ORDER
                category: APPLICATION
                description: There was a problem with an eBay internal system or process.
                  Contact eBay developer support for assistance.
      security:
      - ClientCredentials:
        - https://api.ebay.com/oauth/api_scope/buy.guest.order
  /guest_checkout_session/initiate:
    post:
      tags:
      - guest_checkout_session
      description: <span class="tablenote"><b>Note:</b> This version of the Order
        API (v2) currently only supports the guest payment flow for eBay managed payments.
        To view the v1_beta version of the Order API, which includes both member and
        guest checkout payment flows, refer to the <a href="/api-docs/buy/order_v1/resources/methods">Order_v1
        API</a> documentation.</span><br /><br /><a href="https://developer.ebay.com/api-docs/static/versioning.html#limited"
        target="_blank"><img src="/cms/img/docs/partners-api.svg" class="legend-icon
        partners-icon"  alt="Limited Release" title="Limited Release" />(Limited Release)</a>
        This method is only available to select developers approved by business units.<br
        /><br />This method creates an eBay guest checkout session, which is the first
        step in performing a checkout. The method returns a <b>checkoutSessionId</b>
        that you use as a URI parameter in subsequent guest checkout methods.<br /><br
        />Also see <a href="/api-docs/buy/static/ref-buy-negative-testing.html">Negative
        Testing Using Stubs</a> for information on how to emulate error conditions
        for this  method using stubs.<br /><br /><span class="tablenote"><font color="006600"><b>TIP:</b></font>
        To test the entire checkout flow, you might need a "test" credit card. You
        can generate a credit card number from <a href="http://www.getcreditcardnumbers.com"
        target="_blank">http://www.getcreditcardnumbers.com</a>.</span><br /><br />For
        a list of supported sites and other restrictions, see <a href="/api-docs/buy/order/overview.html#API">API
        Restrictions</a> in the Order API overview.<br /><br />The URLs for this method
        are:<ul><li><b>Production URL:</b> <code>https://apix.ebay.com/buy/order/v2/guest_checkout_session/initiate</code></li><li><b>Sandbox
        URL:</b> <code>https://apix.sandbox.ebay.com/buy/order/v2/guest_checkout_session/initiate</code></li></ul>
      operationId: initiateGuestCheckoutSession
      parameters:
      - name: X-EBAY-C-ENDUSERCTX
        in: header
        description: A header that is used to specify the <b>affiliateCampaignId</b>,
          and optionally the <b>affiliateReferenceId</b>, to enable revenue sharing
          when the buyer purchases items.<br /><br /><span class="tablenote"><font
          color="006600"><b>TIP:</b></font> See <a href="/api-docs/buy/static/api-browse.html#Headers"
          target="_blank">Request headers</a> in the Buying Integration Guide for
          more information.</span>
        schema:
          type: string
      - name: X-EBAY-C-MARKETPLACE-ID
        in: header
        description: A header that identifies the user's business context and is specified
          using a marketplace ID value.<br /><br /><span class="tablenote"><b>Note:</b>
          This header does <i>not</i> indicate a language preference or consumer location.</span><br
          /><br />See <a href="/api-docs/static/rest-request-components.html#marketpl"
          target="_blank">Marketplace ID values</a> for a list of supported values.
        required: true
        schema:
          type: string
      requestBody:
        description: The container for the fields used by the <b>initiateGuestCheckoutSession</b>
          method.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateGuestCheckoutSessionRequestV2'
        required: false
      responses:
        200:
          description: OK
          headers:
            X-EBAY-SECURITY-SIGNATURE:
              description: A token that is used to launch the Checkout with eBay widget.
              schema:
                type: string
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GuestCheckoutSessionResponseV2'
          x-response-codes:
            errors:
              20000:
                domain: API_ORDER
                category: BUSINESS
                description: This order contains the item {itemId} that may be subject
                  to certain importation permitting/licensing requirements. Please
                  check applicable regulations for specific import restrictions in
                  your country.
              20001:
                domain: API_ORDER
                category: BUSINESS
                description: This item {itemId} ships via a freight carrier. For information
                  regarding shipping, tracking, delivery, etc. check with the seller.
              15043:
                domain: API_ORDER
                category: BUSINESS
                description: The item {itemId} cannot be purchased using this API
                  and has been removed from the cart. The purchase can be done on
                  ebay.com.
              15007:
                domain: API_ORDER
                category: REQUEST
                description: The address provided may be incorrect. You may proceed
                  with this address or provide a correct address.
              15055:
                domain: API_ORDER
                category: BUSINESS
                description: The item is removed due to one or more reasons (out of
                  stock, the desired quantity exceeds the quantity available, etc).
        400:
          description: Bad Request
          content: {}
          x-response-codes:
            errors:
              15029:
                domain: API_ORDER
                category: REQUEST
                description: The X-EBAY-C-MARKETPLACE-ID value {fieldValue} is invalid
                  for this checkout session because it is different from the X-EBAY-C-MARKETPLACE-ID
                  header value used to create the session. For all calls in this checkout
                  session, you must use X-EBAY-C-MARKETPLACE-ID {supportedValues}.
              15048:
                domain: API_ORDER
                category: REQUEST
                description: The value of {fieldName} is too long. For more information,
                  see the documentation for this call.
              15001:
                domain: API_ORDER
                category: REQUEST
                description: 'Missing field: {fieldName}. The indicated field is required
                  for this request. Add the field and resubmit the call.'
              15002:
                domain: API_ORDER
                category: REQUEST
                description: 'Invalid field: {fieldName}.  The indicated field contains
                  an invalid value. Correct the value and resubmit the call.'
              17002:
                domain: API_ORDER
                category: REQUEST
                description: Invalid character(s) found in the shipping address. Please
                  check name and shipping address fields, remove invalid character(s)
                  and resubmit the call.
        409:
          description: Conflict
          content: {}
          x-response-codes:
            errors:
              20002:
                domain: API_ORDER
                category: BUSINESS
                description: This item {itemId} is currently unavailable to buy from
                  the seller.
              15011:
                domain: API_ORDER
                category: BUSINESS
                description: You have exceeded the maximum number of {maxLineItems}
                  line items. Correct the request and resubmit the call.
              15012:
                domain: API_ORDER
                category: BUSINESS
                description: There is a limit on the quantity of this item that can
                  be purchased. Reduce the quantity and resubmit the call.
              15044:
                domain: API_ORDER
                category: BUSINESS
                description: At least one of the items in the cart cannot be purchased
                  using this API. The purchase can be done on eBay, through the eBay
                  app or eBay website.
              15013:
                domain: API_ORDER
                category: BUSINESS
                description: The item is either out of stock, or the desired quantity
                  exceeds the quantity available. If out of stock, please wait for
                  seller to restock. If desired quantity exceeds available quantity,
                  please reduce the quantity value and try again.
              15045:
                domain: API_ORDER
                category: BUSINESS
                description: The item cannot be purchased because the seller is away
                  and is not processing orders. If you are trying to purchase more
                  than one item, you need to create a new checkout session to purchase
                  the other items.
              15014:
                domain: API_ORDER
                category: BUSINESS
                description: The quantity submitted for this item is invalid. Correct
                  the quantity value and resubmit the call.
              15015:
                domain: API_ORDER
                category: BUSINESS
                description: There is a problem with the credit card and it cannot
                  be used to purchase items. Use the updatePaymentInfo call to change
                  the payment information.
              15047:
                domain: API_ORDER
                category: BUSINESS
                description: In compliance with applicable economic sanctions and
                  trade restrictions, eBay is unavailable in your location. If you
                  believe you are receiving this notice in error, please contact eBay's
                  Customer Service.
              15017:
                domain: API_ORDER
                category: BUSINESS
                description: The payment for the order line items in your cart could
                  not be processed due to issues with one or more sellers.
              15018:
                domain: API_ORDER
                category: BUSINESS
                description: The item is not available for purchase. This can be for
                  several reason such as, the listing has ended, this is an auction
                  item, etc. Remove the item and resubmit the call.
              15019:
                domain: API_ORDER
                category: BUSINESS
                description: To place an order, you must have at least one line item.
                  Use the initiateCheckoutSession call to add line items (maximum
                  of {maxLineItems}) and create a new checkout session.
              15053:
                domain: API_ORDER
                category: BUSINESS
                description: Your desired item(s) are not available due to one or
                  more reasons (out of stock, listing is an auction, listing ended,
                  etc).
              15026:
                domain: API_ORDER
                category: BUSINESS
                description: The item is not shippable to the specified shipping address.
              15027:
                domain: API_ORDER
                category: BUSINESS
                description: 'The value {fieldValue} is not supported for the {fieldName}.
                  The supported values are: {supportedValues}.'
              15028:
                domain: API_ORDER
                category: BUSINESS
                description: The item {itemId} is not available for purchase because
                  it cannot be shipped to {country}.
              15031:
                domain: API_ORDER
                category: BUSINESS
                description: The item is not purchasable because the buyer has been
                  blocked by the seller.
        500:
          description: Internal Server Error
          content: {}
          x-response-codes:
            errors:
              15000:
                domain: API_ORDER
                category: APPLICATION
                description: There was a problem with an eBay internal system or process.
                  Contact eBay developer support for assistance.
      security:
      - ClientCredentials:
        - https://api.ebay.com/oauth/api_scope/buy.guest.order
      x-codegen-request-body-name: body
  /guest_checkout_session/{checkoutSessionId}/remove_coupon:
    post:
      tags:
      - guest_checkout_session
      description: <span class="tablenote"><b>Note:</b> This version of the Order
        API (v2) currently only supports the guest payment flow for eBay managed payments.
        To view the v1_beta version of the Order API, which includes both member and
        guest checkout payment flows, refer to the <a href="/api-docs/buy/order_v1/resources/methods">Order_v1
        API</a> documentation.</span><br /><br /><a href="https://developer.ebay.com/api-docs/static/versioning.html#limited"
        target="_blank"><img src="/cms/img/docs/partners-api.svg" class="legend-icon
        partners-icon"  alt="Limited Release" title="Limited Release" />(Limited Release)</a>
        This method is only available to select developers approved by business units.<br
        /><br />This method removes a coupon from an eBay guest checkout session.
        The <b>checkoutSessionId</b> is passed in as a URI parameter and is required.
        The redemption code of the coupon is specified in the payload and is also
        required.<br /><br />For a list of supported sites and other restrictions,
        see <a href="/api-docs/buy/order/overview.html#API">API Restrictions</a> in
        the Order API overview.<br /><br />The URLs for this method are:<ul><li><b>Production
        URL:</b> <code>https://apix.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}/remove_coupon</code></li><li><b>Sandbox
        URL:</b> <code>https://apix.sandbox.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}/remove_coupon</code></li></ul>
      operationId: removeGuestCoupon
      parameters:
      - name: checkoutSessionId
        in: path
        description: The eBay-assigned session ID, for a specific eBay marketplace,
          that is returned by the <b> initiateGuestCheckoutSession</b> method.<br
          /><br /><span class="tablenote"><b>Note:</b> When using this ID, the X-EBAY-C-MARKETPLACE-ID
          value and developer App ID must be the same as that used when this guest
          checkout session was created. See <a href="/api-docs/buy/order/overview.html#checkout-restriction">Checkout
          session restrictions</a> in the Buy Integration Guide for details.</span>
        required: true
        schema:
          type: string
      - name: X-EBAY-C-MARKETPLACE-ID
        in: header
        description: A header that identifies the user's business context and is specified
          using a marketplace ID value.<br /><br /><span class="tablenote"><b>Note:</b>
          This header does <i>not</i> indicate a language preference or consumer location.</span><br
          /><br />See <a href="/api-docs/static/rest-request-components.html#marketpl"
          target="_blank">Marketplace ID values</a> for a list of supported values.
        required: true
        schema:
          type: string
      requestBody:
        description: The container for the fields used by the <b>removeGuestCoupon</b>
          method.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CouponRequest'
        required: false
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GuestCheckoutSessionResponseV2'
        400:
          description: Bad Request
          content: {}
          x-response-codes:
            errors:
              15025:
                domain: API_ORDER
                category: REQUEST
                description: The App is not authorized to access this resource.
              15029:
                domain: API_ORDER
                category: REQUEST
                description: The X-EBAY-C-MARKETPLACE-ID value {fieldValue} is invalid
                  for this checkout session because it is different from the X-EBAY-C-MARKETPLACE-ID
                  header value used to create the session. For all calls in this checkout
                  session, you must use X-EBAY-C-MARKETPLACE-ID {supportedValues}.
              15032:
                domain: API_ORDER
                category: REQUEST
                description: After using the 'initiateGuestPayment' call, you cannot
                  make changes to the cart. If you need to change the cart, you must
                  start over using the 'initiateGuestCheckoutSession' call.
              15001:
                domain: API_ORDER
                category: REQUEST
                description: 'Missing field: {fieldName}. The indicated field is required
                  for this request. Add the field and resubmit the call.'
              16025:
                domain: API_ORDER
                category: REQUEST
                description: The coupon was not applied to this cart.
              15033:
                domain: API_ORDER
                category: REQUEST
                description: The payment cannot be processed because the payment information
                  is invalid. You will need to create a new checkout session and submit
                  corrected payment information.
              15002:
                domain: API_ORDER
                category: REQUEST
                description: 'Invalid field: {fieldName}. The indicated field contains
                  an invalid value. Correct the value and resubmit the call.'
              15003:
                domain: API_ORDER
                category: REQUEST
                description: The checkout session requested does not exist.
        403:
          description: Access Forbidden
          content: {}
        404:
          description: Resource Not Found
          content: {}
        409:
          description: Conflict
          content: {}
          x-response-codes:
            errors:
              15027:
                domain: API_ORDER
                category: BUSINESS
                description: 'The value {fieldValue} is not supported for the {fieldName}.
                  The supported values are: {supportedValues}.'
              15019:
                domain: API_ORDER
                category: BUSINESS
                description: To place an order, you must have at least one line item.
                  Use the initiateCheckoutSession call to add line items (maximum
                  of {maxLineItems}) and create a new checkout session.
              15021:
                domain: API_ORDER
                category: BUSINESS
                description: This checkout session cannot be updated because the order
                  has already been placed.
        500:
          description: Internal Server Error
          content: {}
          x-response-codes:
            errors:
              15000:
                domain: API_ORDER
                category: APPLICATION
                description: There was a problem with an eBay internal system or process.
                  Contact eBay developer support for assistance.
      security:
      - ClientCredentials:
        - https://api.ebay.com/oauth/api_scope/buy.guest.order
      x-codegen-request-body-name: body
  /guest_checkout_session/{checkoutSessionId}/update_quantity:
    post:
      tags:
      - guest_checkout_session
      description: <span class="tablenote"><b>Note:</b> This version of the Order
        API (v2) currently only supports the guest payment flow for eBay managed payments.
        To view the v1_beta version of the Order API, which includes both member and
        guest checkout payment flows, refer to the <a href="/api-docs/buy/order_v1/resources/methods">Order_v1
        API</a> documentation.</span><br /><br /><a href="https://developer.ebay.com/api-docs/static/versioning.html#limited"
        target="_blank"><img src="/cms/img/docs/partners-api.svg" class="legend-icon
        partners-icon"  alt="Limited Release" title="Limited Release" />(Limited Release)</a>
        This method is only available to select developers approved by business units.<br
        /><br />This method changes the quantity of the specified line item in an
        eBay guest checkout session.<br /><br />For a list of supported sites and
        other restrictions, see <a href="/api-docs/buy/order/overview.html#API">API
        Restrictions</a> in the Order API overview.<br /><br />The URLs for this method
        are:<ul><li><b>Production URL:</b> <code>https://apix.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}/update_quantity</code></li><li><b>Sandbox
        URL:</b> <code>https://apix.sandbox.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}/update_quantity</code></li></ul>
      operationId: updateGuestQuantity
      parameters:
      - name: checkoutSessionId
        in: path
        description: The eBay-assigned session ID, for a specific eBay marketplace,
          that is returned by the <b> initiateGuestCheckoutSession</b> method.<br
          /><br /><span class="tablenote"><b>Note:</b> When using this ID, the X-EBAY-C-MARKETPLACE-ID
          value and developer App ID must be the same as that used when this guest
          checkout session was created. See <a href="/api-docs/buy/order/overview.html#checkout-restriction">Checkout
          session restrictions</a> in the Buy Integration Guide for details.</span>
        required: true
        schema:
          type: string
      - name: X-EBAY-C-MARKETPLACE-ID
        in: header
        description: A header that identifies the user's business context and is specified
          using a marketplace ID value.<br /><br /><span class="tablenote"><b>Note:</b>
          This header does <i>not</i> indicate a language preference or consumer location.</span><br
          /><br />See <a href="/api-docs/static/rest-request-components.html#marketpl"
          target="_blank">Marketplace ID values</a> for a list of supported values.
        required: true
        schema:
          type: string
      requestBody:
        description: The container for the fields used by the <b>updateGuestQuantity</b>
          method.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateQuantity'
        required: false
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GuestCheckoutSessionResponseV2'
        400:
          description: Bad Request
          content: {}
          x-response-codes:
            errors:
              15025:
                domain: API_ORDER
                category: REQUEST
                description: The App is not authorized to access this resource.
              15029:
                domain: API_ORDER
                category: REQUEST
                description: The X-EBAY-C-MARKETPLACE-ID value {fieldValue} is invalid
                  for this checkout session because it is different from the X-EBAY-C-MARKETPLACE-ID
                  header value used to create the session. For all calls in this checkout
                  session, you must use X-EBAY-C-MARKETPLACE-ID {supportedValues}.
              15032:
                domain: API_ORDER
                category: REQUEST
                description: After using the 'initiateGuestPayment' call, you cannot
                  make changes to the cart. If you need to change the cart, you must
                  start over using the 'initiateGuestCheckoutSession' call.
              15001:
                domain: API_ORDER
                category: REQUEST
                description: 'Missing field: {fieldName}. The indicated field is required
                  for this request. Add the field and resubmit the call.'
              15002:
                domain: API_ORDER
                category: REQUEST
                description: 'Invalid field: {fieldName}.  The indicated field contains
                  an invalid value. Correct the value and resubmit the call.'
              15003:
                domain: API_ORDER
                category: REQUEST
                description: The checkout session requested does not exist.
        403:
          description: Access Forbidden
          content: {}
        404:
          description: Resource Not Found
          content: {}
        409:
          description: Conflict
          content: {}
          x-response-codes:
            errors:
              15027:
                domain: API_ORDER
                category: BUSINESS
                description: 'The value {fieldValue} is not supported for the {fieldName}.
                  The supported values are: {supportedValues}.'
              15012:
                domain: API_ORDER
                category: BUSINESS
                description: There is a limit on the quantity of this item that can
                  be purchased. Reduce the quantity and resubmit the call.
              15013:
                domain: API_ORDER
                category: BUSINESS
                description: The item is either out of stock, or the desired quantity
                  exceeds the quantity available. If out of stock, please wait for
                  seller to restock. If desired quantity exceeds available quantity,
                  please reduce the quantity value and try again.
              15014:
                domain: API_ORDER
                category: BUSINESS
                description: The quantity submitted for this item is invalid. Correct
                  the quantity value and resubmit the call.
              15019:
                domain: API_ORDER
                category: BUSINESS
                description: To place an order, you must have at least one line item.
                  Use the initiateCheckoutSession call to add line items (maximum
                  of {maxLineItems}) and create a new checkout session.
              15021:
                domain: API_ORDER
                category: BUSINESS
                description: This checkout session cannot be updated because the order
                  has already been placed.
              15053:
                domain: API_ORDER
                category: BUSINESS
                description: Your desired item(s) are not available due to one or
                  more reasons (out of stock, listing is an auction, listing ended,
                  etc).
        500:
          description: Internal Server Error
          content: {}
          x-response-codes:
            errors:
              15000:
                domain: API_ORDER
                category: APPLICATION
                description: There was a problem with an eBay internal system or process.
                  Contact eBay developer support for assistance.
      security:
      - ClientCredentials:
        - https://api.ebay.com/oauth/api_scope/buy.guest.order
      x-codegen-request-body-name: body
  /guest_checkout_session/{checkoutSessionId}/update_shipping_address:
    post:
      tags:
      - guest_checkout_session
      description: <span class="tablenote"><b>Note:</b> This version of the Order
        API (v2) currently only supports the guest payment flow for eBay managed payments.
        To view the v1_beta version of the Order API, which includes both member and
        guest checkout payment flows, refer to the <a href="/api-docs/buy/order_v1/resources/methods">Order_v1
        API</a> documentation.</span><br /><br /><a href="https://developer.ebay.com/api-docs/static/versioning.html#limited"
        target="_blank"><img src="/cms/img/docs/partners-api.svg" class="legend-icon
        partners-icon"  alt="Limited Release" title="Limited Release" />(Limited Release)</a>
        This method is only available to select developers approved by business units.<br
        /><br />This method changes the shipping address for the order in an eBay
        guest checkout session. All the line items in an order must be shipped to
        the same address, but the shipping method can be specific to the line item.<br
        /><br /><span class="tablenote"><b>Note:</b> If the address submitted cannot
        be validated, a warning message will be returned. This does not prevent the
        method from executing, but you may want to verify the address.</span><br /><br
        />For a list of supported sites and other restrictions, see <a href="/api-docs/buy/order/overview.html#API">API
        Restrictions</a> in the Order API overview.<br /><br />The URLs for this method
        are:<ul><li><b>Production URL:</b> <code>https://apix.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}/update_shipping_address</code></li><li><b>Sandbox
        URL:</b> <code>https://apix.sandbox.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}/update_shipping_address</code></li></ul>
      operationId: updateGuestShippingAddress
      parameters:
      - name: checkoutSessionId
        in: path
        description: The eBay-assigned session ID, for a specific eBay marketplace,
          that is returned by the <b> initiateGuestCheckoutSession</b> method.<br
          /><br /><span class="tablenote"><b>Note:</b> When using this ID, the X-EBAY-C-MARKETPLACE-ID
          value and developer App ID must be the same as that used when this guest
          checkout session was created. See <a href="/api-docs/buy/order/overview.html#checkout-restriction">Checkout
          session restrictions</a> in the Buy Integration Guide for details.</span>
        required: true
        schema:
          type: string
      - name: X-EBAY-C-MARKETPLACE-ID
        in: header
        description: A header that identifies the user's business context and is specified
          using a marketplace ID value.<br /><br /><span class="tablenote"><b>Note:</b>
          This header does <i>not</i> indicate a language preference or consumer location.</span><br
          /><br />See <a href="/api-docs/static/rest-request-components.html#marketpl"
          target="_blank">Marketplace ID values</a> for a list of supported values.
        required: true
        schema:
          type: string
      requestBody:
        description: The container for the fields used by the <b>updateGuestShippingAddress</b>
          method.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ShippingAddressImpl'
        required: false
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GuestCheckoutSessionResponseV2'
          x-response-codes:
            errors:
              15007:
                domain: API_ORDER
                category: REQUEST
                description: The address provided may be incorrect. You may proceed
                  with this address or provide a correct address.
        400:
          description: Bad Request
          content: {}
          x-response-codes:
            errors:
              15025:
                domain: API_ORDER
                category: REQUEST
                description: The App is not authorized to access this resource.
              15029:
                domain: API_ORDER
                category: REQUEST
                description: The X-EBAY-C-MARKETPLACE-ID value {fieldValue} is invalid
                  for this checkout session because it is different from the X-EBAY-C-MARKETPLACE-ID
                  header value used to create the session. For all calls in this checkout
                  session, you must use X-EBAY-C-MARKETPLACE-ID {supportedValues}.
              15032:
                domain: API_ORDER
                category: REQUEST
                description: After using the 'initiateGuestPayment' call, you cannot
                  make changes to the cart. If you need to change the cart, you must
                  start over using the 'initiateGuestCheckoutSession' call.
              15048:
                domain: API_ORDER
                category: REQUEST
                description: The value of {fieldName} is too long. For more information,
                  see the documentation for this call.
              15001:
                domain: API_ORDER
                category: REQUEST
                description: 'Missing field: {fieldName}. The indicated field is required
                  for this request. Add the field and resubmit the call.'
              15002:
                domain: API_ORDER
                category: REQUEST
                description: 'Invalid field: {fieldName}.  The indicated field contains
                  an invalid value. Correct the value and resubmit the call.'
              17002:
                domain: API_ORDER
                category: REQUEST
                description: Invalid character(s) found in the shipping address. Please
                  check name and shipping address fields, remove invalid character(s)
                  and resubmit the call.
              15003:
                domain: API_ORDER
                category: REQUEST
                description: The checkout session requested does not exist.
        403:
          description: Access Forbidden
          content: {}
        404:
          description: Resource Not Found
          content: {}
        409:
          description: Conflict
          content: {}
          x-response-codes:
            errors:
              15026:
                domain: API_ORDER
                category: BUSINESS
                description: The item is not shippable to the specified shipping address.
              15027:
                domain: API_ORDER
                category: BUSINESS
                description: 'The value {fieldValue} is not supported for the {fieldName}.
                  The supported values are: {supportedValues}.'
              15047:
                domain: API_ORDER
                category: BUSINESS
                description: In compliance with applicable economic sanctions and
                  trade restrictions, eBay is unavailable in your location. If you
                  believe you are receiving this notice in error, please contact eBay's
                  Customer Service.
              15019:
                domain: API_ORDER
                category: BUSINESS
                description: To place an order, you must have at least one line item.
                  Use the initiateCheckoutSession call to add line items (maximum
                  of {maxLineItems}) and create a new checkout session.
              15021:
                domain: API_ORDER
                category: BUSINESS
                description: This checkout session cannot be updated because the order
                  has already been placed.
        500:
          description: Internal Server Error
          content: {}
          x-response-codes:
            errors:
              15000:
                domain: API_ORDER
                category: APPLICATION
                description: There was a problem with an eBay internal system or process.
                  Contact eBay developer support for assistance.
      security:
      - ClientCredentials:
        - https://api.ebay.com/oauth/api_scope/buy.guest.order
      x-codegen-request-body-name: body
  /guest_checkout_session/{checkoutSessionId}/update_shipping_option:
    post:
      tags:
      - guest_checkout_session
      description: '<span class="tablenote"><b>Note:</b> This version of the Order
        API (v2) currently only supports the guest payment flow for eBay managed payments.
        To view the v1_beta version of the Order API, which includes both member and
        guest checkout payment flows, refer to the <a href="/api-docs/buy/order_v1/resources/methods">Order_v1
        API</a> documentation.</span><br /><br /><a href="https://developer.ebay.com/api-docs/static/versioning.html#limited"
        target="_blank"><img src="/cms/img/docs/partners-api.svg" class="legend-icon
        partners-icon"  alt="Limited Release" title="Limited Release" />(Limited Release)</a>
        This method is only available to select developers approved by business units.<br
        /><br />This method changes the shipping method for the specified line item
        in an eBay guest checkout session. The shipping option can be set for each
        line item. This gives the shopper the ability choose the cost of shipping
        for each line item.<br /><br />For a list of supported sites and other restrictions,
        see <a href="/api-docs/buy/order/overview.html#API">API Restrictions</a> in
        the Order API overview.<br /><br />The URLs for this method are:<ul><li><b>Production
        URL: </b> <code>https://apix.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}/update_shipping_option</code></li><li><b>Sandbox
        URL:</b> <code>https://apix.sandbox.ebay.com/buy/order/v2/guest_checkout_session/{checkoutSessionId}/update_shipping_option</code></li>
        </ul>'
      operationId: updateGuestShippingOption
      parameters:
      - name: checkoutSessionId
        in: path
        description: The eBay-assigned session ID, for a specific eBay marketplace,
          that is returned by the <b> initiateGuestCheckoutSession</b> method.<br
          /><br /><span class="tablenote"><b>Note:</b> When using this ID, the X-EBAY-C-MARKETPLACE-ID
          value and developer App ID must be the same as that used when this guest
          checkout session was created. See <a href="/api-docs/buy/order/overview.html#checkout-restriction">Checkout
          session restrictions</a> in the Buy Integration Guide for details.</span>
        required: true
        schema:
          type: string
      - name: X-EBAY-C-MARKETPLACE-ID
        in: header
        description: A header that identifies the user's business context and is specified
          using a marketplace ID value.<br /><br /><span class="tablenote"><b>Note:</b>
          This header does <i>not</i> indicate a language preference or consumer location.</span><br
          /><br />See <a href="/api-docs/static/rest-request-components.html#marketpl"
          target="_blank">Marketplace ID values</a> for a list of supported values.
        required: true
        schema:
          type: string
      requestBody:
        description: The container for the fields used by the <b>updateGuestShippingOption</b>
          method.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateShippingOption'
        required: false
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GuestCheckoutSessionResponseV2'
        400:
          description: Bad Request
          content: {}
          x-response-codes:
            errors:
              15025:
                domain: API_ORDER
                category: REQUEST
                description: The App is not authorized to access this resource.
              15029:
                domain: API_ORDER
                category: REQUEST
                description: The X-EBAY-C-MARKETPLACE-ID value {fieldValue} is invalid
                  for this checkout session because it is different from the X-EBAY-C-MARKETPLACE-ID
                  header value used to create the session. For all calls in this checkout
                  session, you must use X-EBAY-C-MARKETPLACE-ID {supportedValues}.
              15032:
                domain: API_ORDER
                category: REQUEST
                description: After using the 'initiateGuestPayment' call, you cannot
                  make changes to the cart. If you need to change the cart, you must
                  start over using the 'initiateGuestCheckoutSession' call.
              15001:
                domain: API_ORDER
                category: REQUEST
                description: 'Missing field: {fieldName}. The indicated field is required
                  for this request. Add the field and resubmit the call.'
              15002:
                domain: API_ORDER
                category: REQUEST
                description: 'Invalid field: {fieldName}.  The indicated field contains
                  an invalid value. Correct the value and resubmit the call.'
              15003:
                domain: API_ORDER
                category: REQUEST
                description: The checkout session requested does not exist.
        403:
          description: Access Forbidden
          content: {}
        404:
          description: Resource Not Found
          content: {}
        409:
          description: Conflict
          content: {}
          x-response-codes:
            errors:
              15027:
                domain: API_ORDER
                category: BUSINESS
                description: 'The value {fieldValue} is not supported for the {fieldName}.
                  The supported values are: {supportedValues}.'
              15019:
                domain: API_ORDER
                category: BUSINESS
                description: To place an order, you must have at least one line item.
                  Use the initiateCheckoutSession call to add line items (maximum
                  of {maxLineItems}) and create a new checkout session.
              15021:
                domain: API_ORDER
                category: BUSINESS
                description: This checkout session cannot be updated because the order
                  has already been placed.
        500:
          description: Internal Server Error
          content: {}
          x-response-codes:
            errors:
              15000:
                domain: API_ORDER
                category: APPLICATION
                description: There was a problem with an eBay internal system or process.
                  Contact eBay developer support for assistance.
      security:
      - ClientCredentials:
        - https://api.ebay.com/oauth/api_scope/buy.guest.order
      x-codegen-request-body-name: body
components:
  schemas:
    Adjustment:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        label:
          type: string
          description: The text indicating what the adjustment was for.
      description: A type that defines the fields for seller adjustments. An adjustment
        can be a credit or debit.
    Amount:
      type: object
      properties:
        currency:
          type: string
          description: The currency used in the monetary transaction. Generally, this
            is the currency used by the country of the eBay site offering the item.
            For implementation help, refer to <a href='https://developer.ebay.com/api-docs/buy/order/types/bas:CurrencyCodeEnum'>eBay
            API documentation</a>
        value:
          type: string
          description: The amount of the currency specified in the <b>currency</b>
            field. The value of the <b>currency</b> defaults to the standard currency
            used by the country of the eBay site offering the item.
      description: A container defining the monetary value of an amount, in the currency
        used on the eBay site that offers the item, and the conversion of that value
        into another currency.
    AuthenticityVerificationProgram:
      type: object
      properties:
        description:
          type: string
          description: An informational message that applies to the Authenticity Guarantee
            program.
        outcomeReason:
          type: string
          description: An informational message regarding the authentication outcome
            of an Authenticity Guarantee verification inspection.<br /><br /><span
            class="tablenote"><b>Note:</b> This field is conditionally returned when
            there is information that applies to the Authenticity Guarantee program.</span>
        status:
          type: string
          description: An enumerated value that indicates whether the order line item
            has passed or failed the Authenticity Guarantee verification inspection,
            or whether the inspection and/or results are still pending.<br /><br /><span
            class="tablenote"><b>Note:</b> This field is conditionally returned when
            the purchase is complete.</span><br /><br /><b>Valid Values:</b><ul><li><code>PENDING</code></li><li><code>PASSED</code></li><li><code>FAILED</code></li><li><code>INELIGIBLE</code></li></ul>
            For implementation help, refer to <a href='https://developer.ebay.com/api-docs/buy/order/types/gct:AuthenticityVerificationStatusEnum'>eBay
            API documentation</a>
        termsWebUrl:
          type: string
          description: The terms and conditions that apply to the Authenticity Guarantee
            program.
      description: A type that provides the status and outcome of an order line item
        going through the Authenticity Guarantee verification process.
    Coupon:
      type: object
      properties:
        redemptionCode:
          type: string
          description: The coupon redemption code.
      description: A type that defines the fields for the coupon information.<br /><br
        /><span class="tablenote"><b>Note:</b> This container is not returned for
        the <b>getGuestPurchaseOrder</b> method.</span>
    CouponRequest:
      type: object
      properties:
        redemptionCode:
          type: string
          description: The redemption code of the coupon.<br /><br /><b>Maximum:</b>
            One redemption code per order
      description: A type that defines the fields for the coupon information used
        in the request.
    CreateGuestCheckoutSessionRequestV2:
      type: object
      properties:
        contactEmail:
          type: string
          description: The buyer's email address.
        lineItemInputs:
          type: array
          description: An array used to define the line item(s) and desired quantity
            for an eBay guest checkout session.<br /><br /><b>Maximum:</b> 10 line
            items
          items:
            $ref: '#/components/schemas/LineItemInput'
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddress'
      description: A type that defines the fields used to create an eBay guest checkout
        session.
    Error:
      type: object
      properties:
        category:
          type: string
          description: 'This string value indicates the error category. There are
            three categories of errors: request errors, application errors, and system
            errors.'
        domain:
          type: string
          description: The name of the primary system where the error occurred. This
            is relevant for application errors.
        errorId:
          type: integer
          description: A unique code that identifies the particular error or warning
            that occurred. Your application can use error codes as identifiers in
            your customized error-handling algorithms.
        inputRefIds:
          type: array
          description: An array of reference IDs that identify the specific request
            elements most closely associated to the error or warning, if any.
          items:
            type: string
        longMessage:
          type: string
          description: A detailed description of the condition that caused the error
            or warning, and information on what what must be done to correct the problem.
        message:
          type: string
          description: A description of the condition that caused the error or warning.
        outputRefIds:
          type: array
          description: An array of reference IDs that identify the specific response
            elements most closely associated to the error or warning, if any.
          items:
            type: string
        parameters:
          type: array
          description: An array of warning and error messages that return one or more
            variables contextual information about the error or warning. This is often
            the field or value that triggered the error or warning.
          items:
            $ref: '#/components/schemas/ErrorParameter'
        subdomain:
          type: string
          description: The name of the subdomain in which the error or warning occurred.
      description: A type that defines the fields for the error messages.
    ErrorParameter:
      type: object
      properties:
        name:
          type: string
          description: The name of the input field that caused an issue with the method
            request.
        value:
          type: string
          description: The actual value that was passed in for the element specified
            in the <b>name</b> field.
      description: An array of name/value pairs that provide details regarding the
        error.
    Fee:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        feeType:
          type: string
          description: The type of fee associated with the line item. For implementation
            help, refer to <a href='https://developer.ebay.com/api-docs/buy/order/types/gct:FeeEnum'>eBay
            API documentation</a>
      description: A breakdown of the fees associated with the line item.
    GuestCheckoutSessionResponseV2:
      type: object
      properties:
        appliedCoupons:
          type: array
          description: A container that returns the information for the coupons that
            were applied in the guest checkout session.
          items:
            $ref: '#/components/schemas/Coupon'
        checkoutSessionId:
          type: string
          description: The eBay-assigned guest checkout session ID. This ID is created
            after a successful <b>initiateGuestCheckoutSession</b> call.
        lineItems:
          type: array
          description: An array of line items associated with the guest checkout session.
          items:
            $ref: '#/components/schemas/LineItem'
        pricingSummary:
          $ref: '#/components/schemas/PricingSummaryV2'
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddress'
        warnings:
          type: array
          description: An array of errors or warnings that were generated during the
            method processing.
          items:
            $ref: '#/components/schemas/Error'
      description: 'Guest session response v2 '
    Image:
      type: object
      properties:
        imageUrl:
          type: string
          description: The URL for the image.
      description: A container that returns the URL for an image.
    ImportTax:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        importTaxType:
          type: string
          description: An enumeration value that indicates the type of import tax
            applicable to the order. Currently, the only applicable import tax is
            the <i>Goods and Services</i> tax (indicated with <code>GST</code>). The
            Goods and Services tax is only applicable to orders for the eBay Australia
            marketplace. For implementation help, refer to <a href='https://developer.ebay.com/api-docs/buy/order/types/gct:ImportTaxTypeEnum'>eBay
            API documentation</a>
      description: This container defines the type of import tax applicable to the
        order, and the total amount of tax for all line items in the order.
    LineItem:
      type: object
      properties:
        authenticityVerification:
          $ref: '#/components/schemas/AuthenticityVerificationProgram'
        baseUnitPrice:
          $ref: '#/components/schemas/Amount'
        fees:
          type: array
          description: A breakdown of the fees applicable to the line item.
          items:
            $ref: '#/components/schemas/Fee'
        image:
          $ref: '#/components/schemas/Image'
        itemId:
          type: string
          description: The eBay identifier of an item. This ID is returned by the
            <b>Browse</b> and <b>Feed</b> API methods. The ID is in RESTful item ID
            format.<br /><br /><b>For example:</b> <code>v1|2**********6|5**********4</code>
            or <code>v1|1**********9|0</code>.<br /><br />For more information about
            item IDs for RESTful APIs, see <a href="/api-docs/buy/static/api-browse.html#Legacy">Legacy
            API compatibility</a>.
        lineItemId:
          type: string
          description: A unique eBay-assigned ID value that identifies a line item
            in a checkout session.
        netPrice:
          $ref: '#/components/schemas/Amount'
        promotions:
          type: array
          description: An array of promotions applied to the line item.
          items:
            $ref: '#/components/schemas/Promotion'
        quantity:
          type: integer
          description: The quantity ordered for the line item.
        seller:
          $ref: '#/components/schemas/Seller'
        shippingOptions:
          type: array
          description: An array of shipping options that are available for the line
            item. By default, the first one will be selected.<br /><br /><span class="tablenote"><b>Note:</b>
            The <b>updateGuestShippingOption</b> method can be used to change the
            shipping option.</span>
          items:
            $ref: '#/components/schemas/ShippingOption'
        taxDetails:
          type: array
          description: A container that returns the tax information for the line item.
          items:
            $ref: '#/components/schemas/TaxDetail'
        title:
          type: string
          description: The seller-created title of the item.
      description: A type that defines the fields for an individual line item.
    LineItemInput:
      type: object
      properties:
        itemId:
          type: string
          description: The unique eBay-assigned identifier of an item. This ID is
            returned by the <b>Browse</b> and <b>Feed</b> API methods. The ID must
            be in RESTful item ID format.<br /><br /><b>For example:</b> <code>v1|2**********6|5**********4</code>
            or <code>v1|1**********9|0</code>.<br /><br />For more information about
            item IDs for RESTful APIs, see <a href="/api-docs/buy/static/api-browse.html#Legacy">Legacy
            API compatibility</a>.<br /><br />Each <b>itemId</b> will become a single
            line item.<br /><br /><b>Maximum:</b>10 per checkout
        quantity:
          type: integer
          description: The quantity ordered in this line item.
      description: A type that defines the fields for a line item.
    PricingSummaryV2:
      type: object
      properties:
        additionalSavings:
          $ref: '#/components/schemas/Amount'
        adjustment:
          $ref: '#/components/schemas/Adjustment'
        deliveryCost:
          $ref: '#/components/schemas/Amount'
        fee:
          $ref: '#/components/schemas/Amount'
        importCharges:
          $ref: '#/components/schemas/Amount'
        importTax:
          $ref: '#/components/schemas/ImportTax'
        priceDiscount:
          $ref: '#/components/schemas/Amount'
        priceSubtotal:
          $ref: '#/components/schemas/Amount'
        tax:
          $ref: '#/components/schemas/Amount'
        total:
          $ref: '#/components/schemas/Amount'
      description: A type that returns cost details for all of the line items in the
        order, such as tax, item price, delivery cost, and discounts.
    Promotion:
      type: object
      properties:
        discount:
          $ref: '#/components/schemas/Amount'
        message:
          type: string
          description: The text for the promotion title, which describes the promotion.
        promotionType:
          type: string
          description: 'The kind of promotion. Some examples are: <code>SellerDiscountedPromotionalOffer</code>
            and <code>COUPON</code>.'
      description: A container that returns the details of an item promotion.
    Recipient:
      type: object
      properties:
        firstName:
          type: string
          description: The first name of the person receiving the purchase order.
        lastName:
          type: string
          description: The last name of the person receiving the purchase order.
      description: A container that defines the full name of the person receiving
        the purchase order.
    Region:
      type: object
      properties:
        regionName:
          type: string
          description: A localized text string that indicates the name of the region.
            Taxes are generally charged at the state/province level, or at the country
            level in the case of VAT tax.
        regionType:
          type: string
          description: An enumeration value that indicates the type of region for
            the tax jurisdiction.<br /><br /><b>Valid Values:</b> <ul><li><code>STATE_OR_PROVINCE</code></li><li><code>COUNTRY</code></li></ul>
            For implementation help, refer to <a href='https://developer.ebay.com/api-docs/buy/order/types/bas:RegionTypeEnum'>eBay
            API documentation</a>
      description: A type that provides region details for a tax jurisdiction.
    Seller:
      type: object
      properties:
        username:
          type: string
          description: The user name created by the seller for use on eBay.
      description: A type that identifies the seller.
    ShippingAddress:
      type: object
      properties:
        addressLine1:
          type: string
          description: The first line of the street address where the item is being
            shipped.<br /><br /><b>Maximum:</b><ul><li>40 characters for AU, CA, and
            US marketplaces</li><li>35 characters for DE and GB marketplaces</li><li>50
            characters for all other marketplaces</li></ul>
        addressLine2:
          type: string
          description: The second line of the street address where the item is being
            shipped. This optional field can be used for information such as 'Suite
            Number' or 'Apt Number'.<br /><br /><b>Maximum:</b><ul><li>40 characters
            for AU, CA, and US marketplaces</li><li>35 characters for DE and GB marketplaces</li><li>50
            characters for all other marketplaces</li></ul>
        city:
          type: string
          description: The city of the address where the item is being shipped.
        country:
          type: string
          description: The two letter code representing the country of the address.
            For implementation help, refer to <a href='https://developer.ebay.com/api-docs/buy/order/types/bas:CountryCodeEnum'>eBay
            API documentation</a>
        county:
          type: string
          description: The county of the address where the item is being shipped.
        phoneNumber:
          type: string
          description: The phone number of the person receiving the package.<br /><br
            /><span class="tablenote"><b>Note:</b> It is highly recommended that when
            entering the phone number you include the country code.<br /><br />For
            example, if a US phone number is <code>4********4</code>, you would enter
            <code>+14********4</code>. If you do not include this code, the service
            will use the country specified in the <b>country</b> field.<br /><br />You
            can find the country code at <a href="https://countrycode.org/">https://countrycode.org</a>.</span>
        postalCode:
          type: string
          description: The postal code of the address where the item is being shipped.<br
            /><br /><span class="tablenote"><b>Note:</b> This is optional when shipping
            to EBAY_HK (Hong Kong).</span>
        recipient:
          $ref: '#/components/schemas/Recipient'
        stateOrProvince:
          type: string
          description: The state or province of the address.<br /><br /><span class="tablenote"><b>Note:</b>
            For the US marketplace, this is a two-character value. For a list of valid
            values, see <a href="https://www.ups.com/worldshiphelp/WS15/ENU/AppHelp/Codes/State_Province_Codes.htm">US
            State and Canada Province Codes</a>. </span>
      description: A type that defines the fields for a shipping address. For restrictions,
        see <a href="/api-docs/buy/order/overview.html#Shipping">Shipping restrictions</a>.<br
        /><br /><span class="tablenote"><b>Note:</b> If the address cannot be validated,
        a warning message will be returned.</span>
    ShippingAddressImpl:
      type: object
      properties:
        addressLine1:
          type: string
          description: The first line of the street address where the item is being
            shipped.<br /><br /><b>Maximum:</b><ul><li>40 characters for AU, CA, and
            US marketplaces</li><li>35 characters for DE and GB marketplaces</li><li>50
            characters for all other marketplaces</li></ul>
        addressLine2:
          type: string
          description: The second line of the street address where the item is being
            shipped. This optional field can be used for information such as 'Suite
            Number' or 'Apt Number'.<br /><br /><b>Maximum:</b><ul><li>40 characters
            for AU, CA, and US marketplaces</li><li>35 characters for DE and GB marketplaces</li><li>50
            characters for all other marketplaces</li></ul>
        city:
          type: string
          description: The city of the address where the item is being shipped.
        country:
          type: string
          description: The two letter code representing the country of the address.
            For implementation help, refer to <a href='https://developer.ebay.com/api-docs/buy/order/types/bas:CountryCodeEnum'>eBay
            API documentation</a>
        county:
          type: string
          description: The county of the address where the item is being shipped.
        phoneNumber:
          type: string
          description: The phone number of the person receiving the package.<br /><br
            /><span class="tablenote"><b>Note:</b> It is highly recommended that when
            entering the phone number you include the country code.<br /><br />For
            example, if a US phone number is <code>4********4</code>, you would enter
            <code>+14********4</code>. If you do not include this code, the service
            will use the country specified in the <b>country</b> field.<br /><br />You
            can find the country code at <a href="https://countrycode.org/">https://countrycode.org</a>.</span>
        postalCode:
          type: string
          description: The postal code of the address where the item is being shipped.<br
            /><br /><span class="tablenote"><b>Note:</b> This is optional when shipping
            to EBAY_HK (Hong Kong).</span>
        recipient:
          $ref: '#/components/schemas/Recipient'
        stateOrProvince:
          type: string
          description: The state or province of the address.<br /><br /><span class="tablenote"><b>Note:</b>
            For the US marketplace, this is a two-character value. For a list of valid
            values, see <a href="https://www.ups.com/worldshiphelp/WS15/ENU/AppHelp/Codes/State_Province_Codes.htm">US
            State and Canada Province Codes</a>. </span>
      description: A type that defines the shipping address fields.<br /><br /><span
        class="tablenote"><b>Note:</b> If the address cannot be validated, a warning
        message is returned along with the response.</span>
    ShippingOption:
      type: object
      properties:
        baseDeliveryCost:
          $ref: '#/components/schemas/Amount'
        deliveryDiscount:
          $ref: '#/components/schemas/Amount'
        importCharges:
          $ref: '#/components/schemas/Amount'
        maxEstimatedDeliveryDate:
          type: string
          description: The end of the date range in which the purchase order is expected
            to be delivered to the shipping address.
        minEstimatedDeliveryDate:
          type: string
          description: The beginning of the date range in which the purchase order
            is expected to be delivered to the shipping address.
        selected:
          type: boolean
          description: A field that indicates whether the shipping method is selected.
        shippingCarrierCode:
          type: string
          description: The shipping provider for the line item, such as FedEx or USPS.
        shippingOptionId:
          type: string
          description: A unique ID for the selected shipping option/method.
        shippingServiceCode:
          type: string
          description: The name of the shipping service code. For example, Priority
            Mail Express (provided by USPS) or FedEx International Priority (Provided
            by FedEx).
      description: A type that defines the fields for the shipping options.
    TaxDetail:
      type: object
      properties:
        includedInPrice:
          type: boolean
          description: A field that indicates whether tax was applied for the cost
            of the item and its shipping.
        taxJurisdiction:
          $ref: '#/components/schemas/TaxJurisdiction'
        taxType:
          type: string
          description: A field that indicates the type of tax that may be collected
            for the item. For implementation help, refer to <a href='https://developer.ebay.com/api-docs/buy/order/types/gct:TaxType'>eBay
            API documentation</a>
      description: A type that defines the tax fields.
    TaxJurisdiction:
      type: object
      properties:
        region:
          $ref: '#/components/schemas/Region'
        taxJurisdictionId:
          type: string
          description: The identifier of the tax jurisdiction.
      description: The type that defines the fields for the tax jurisdiction details.
    UpdateQuantity:
      type: object
      properties:
        lineItemId:
          type: string
          description: A unique eBay-assigned ID value that identifies a line item
            in a purchase order.
        quantity:
          type: integer
          description: The number of individual items ordered in this line item, as
            specified by the buyer.
      description: A type that defines the fields used to update the quantity of a
        line item.
    UpdateShippingOption:
      type: object
      properties:
        lineItemId:
          type: string
          description: A unique eBay-assigned ID value that identifies the line item
            in a checkout session.
        shippingOptionId:
          type: string
          description: A unique ID for the selected shipping option/method.
      description: A type that defines the fields used to update the shipping option
        of a line item.
  securitySchemes:
    ClientCredentials:
      type: oauth2
      description: The security definitions for this API. Please check individual
        operations for applicable scopes.
      flows:
        clientCredentials:
          tokenUrl: https://api.ebay.com/identity/v1/oauth2/token
          scopes:
            https://api.ebay.com/oauth/api_scope/buy.guest.order: Purchase eBay items
              off eBay
