openapi: 3.0.1
info: 
  title: AccountListDetail For QuickBooks 
  description: The information below provides a reference on how to access the account list detail report from the QuickBooks Online Report Service.
  contact:
    name: AccountListDetail APi 
    url: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/accountlistdetail
  version: v 1.0.0
servers: 
  - url:  https://quickbooks.api.intuit.com
paths:
  /v3/company/<realmID>/reports/AccountList<name>=<value>[&...]:
    description: Customize the information returned in the report by specifying query parameters with the query. Listed below are query parameters available for this report.
    get:
     parameters:
      - name: account_type
        in: query
        description: "Account type from which transactions are included in the report. Supported Values: AccountsPayable, AccountsReceivable, Bank, CostOfGoodsSold, CreditCard, Equity, Expense, FixedAsset, Income, LongTermLiability, NonPosting, OtherAsset, OtherCurrentAsset, OtherCurrentLiability, OtherExpense, OtherIncome."
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: end_date
        in: query
        description: "The start date and end date of the report, in the format YYYY-MM-DD. start_date must be less than end_date. Use if you want the report to cover an explicit date range; otherwise, use date_macro to cover a standard report date range."
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: start_moddate
        in: query
        description: "If not specified value of moddate_macro is used. (Account List Detail) Specify an explicit account modification report date range, in the format YYYY-MM-DD. start_date must be less than end_date. Use if you want the report to cover an explicit date range; otherwise, use the moddate_macro to cover a standard report date range."
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: sort_by
        in: query
        description: "The column type used in sorting report rows. Specify a column type as defined with the columns query parameter."
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string      
      - name: sort_order
        in: query
        description: "The sort order. Supported Values: ascend, descend"
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: moddate_macro
        in: query
        description: "Predefined report account modification date range. Use if you want the report to cover a standard report date range when accounts were modified; otherwise, use the start_moddate and end_moddate to cover an explicit report date range. Supported Values: Today, Yesterday, This Week, Last Week, This Week-to-date, Last Week-to-date, Next Week, Next 4 Weeks, This Month, Last Month, This Month-to-date, Last Month-to-date, Next Month, This Fiscal Quarter, Last Fiscal Quarter, This Fiscal Quarter-to-date, Last Fiscal Quarter-to-date, Next Fiscal Quarter, This Fiscal Year, Last Fiscal Year, This Fiscal Year-to-date, Last Fiscal Year-to-date, Next Fiscal Year."
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: end_moddate
        in: query
        description: "If not specified value of moddate_macro is used. (Account List Detail) Specify an explicit account modification report date range, in the format YYYY-MM-DD. start_date must be less than end_date. Use if you want the report to cover an explicit date range; otherwise, use the moddate_macro to cover a standard report date range."
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: account_status
        in: query
        description: "The account status. Supported values include: Deleted, Not_Deleted"
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: createdate_macro
        in: query
        description: "Predefined report account create date range. Use if you want the report to cover a standard create report date range; otherwise, use start_createdate and end_createdate to cover an explicit report date range. Supported Values: Today, Yesterday, This Week, Last Week, This Week-to-date, Last Week-to-date, Next Week, Next 4 Weeks, This Month, Last Month, This Month-to-date, Last Month-to-date, Next Month, This Fiscal Quarter, Last Fiscal Quarter, This Fiscal Quarter-to-date, Last Fiscal Quarter-to-date, Next Fiscal Quarter, This Fiscal Year, Last Fiscal Year, This Fiscal Year-to-date, Last Fiscal Year-to-date, Next Fiscal Year."
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: start_date
        in: query
        description: "The start date and end date of the report, in the format YYYY-MM-DD. start_date must be less than end_date. Use if you want the report to cover an explicit date range; otherwise, use date_macro to cover a standard report date range."
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string 
      - name: columns
        in: query
        description: "Column types to be shown in the report. Supported Values: account_name*, account_type*, detail_acc_type, create_date, create_by, detail_acc_type*, last_ mod_date, last_ mod_by, account_desc*, account_bal*"
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string    
     security:
      - OAuth2: [admin]
     responses:
       200:
        description: Returns the report object.
        content:
          application.json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/AccountListDetail'
components:
  schemas:
      AccountListDetail:
        type: object
        properties:
          Header:
            type: object
            description: The report header.
            properties:
              Customer:
                type: string 
                description: A string containing the Ids as specified with the corresponding filter query parameter. Only those filter query parameters specified in the request are returned in the header.
              ReportName:
                type: string 
                description: Name of the report.
              Vendor:
                type: string
                description: A string containing the Ids as specified with the corresponding filter query parameter. Only those filter query parameters specified in the request are returned in the header.
              option:
                type: object
                description: Container for one or more name/value pairs that return additional information about the report contents.
                properties:
                  name: 
                    type: string
                    description: "Supported Names: AccountingStandard—Indicates the accounting standard being used for this report. Returned with ProfitAndLoss and BalanceSheet reports, only. NoReportData—Used to signal whether report contains data. If true, report contains no data. If false, report contains data. Returned for every report type."
                  value:
                    type: string
                    description: The value of the parameter, as passed in with the report endpoint URL.
              Item:
                type: string 
                description: A string containing the Ids as specified with the corresponding filter query parameter. Only those filter query parameters specified in the request are returned in the header.
              Employee:
                type: string
                description: A string containing the Ids as specified with the corresponding filter query parameter. Only those filter query parameters specified in the request are returned in the header.
              ReportBasis:
                type: string
                description: Accounting method. Possible values include Cash and Accrual.
                enum: [Cash, Accrual]
              StartPeriod:
                type: string
                description: The date specified by the start_date query parameter submitted with the request. Format is yyyy-mm-dd.
              Class:
                type: string
                description: A string containing the Ids as specified with the corresponding filter query parameter. Only those filter query parameters specified in the request are returned in the header.
              Currency:
                type: string
                description: A string containing the currency code associated with the report.
              EndPeriod:
                type: string
                description: The date specified by the end_date query parameter submitted with the request. Format is yyyy-mm-dd.
              Time:
                type: string
                description: Date and timestamp of the report.
              Department:
                type: string
                description: A string containing the Ids as specified with the corresponding filter query parameter. Only those filter query parameters specified in the request are returned in the header.
              SummarizeColumnsBy:
                type: string
                description: The method by which report columns are organized. This contains the value specified by the summarize_column_by query parameter submitted with the request.
                enum: [summarize_column_by]
          Rows:
            type: object
            description: Top level container holding information for report rows.
            properties:
              Row [0..n]:
                type: object
                description: "Represents a row in a report. A group of rows is enclosed in a Rows container. Rows may be nested either as a single row or in sets, based on the accounts represented in the report and query parameters specified in the request. Parameters: type—As an enclosing section of sub-rows, this is always the string, Section. As a leaf row, this is always the string, Data. group—The group name, valid when type=Section. Possible values include: Income, COGS, GrossProfit, Expenses, NetOperatingIncome, OtherIncome, OtherExpenses, NetOtherIncome, NetIncome"
                properties:
                  ColData: 
                    type: object
                    description: "Information for each column of a leaf row Row type=Data. There must be a ColData definition for each column defined in the Columns section. Parameters: id—The reference id of the entity as returned in the Id entity field. Returned where applicable. value—The value for column. The type of value is based on the column type. href—The link to the quick zoom data for this cell, available when the report endpoint specifies the qzurl query parameter. The qzurl query parameter is supported on a report by report basis; check the list of query parameters for the specific report to determine support. The value of the parameter is localized."
                  Summary:
                    type: object
                    description: Summary row for a report section. It is the cumulative total amount of money in the account, including the sub accounts.
                  Rows:
                    type: object
                    description: Container for one or more leaf rows.
                  Header:
                    type: string 
                    description: Header row for the report section.
          Columns:
            type: object
            description: "Top level container holding information for report columns or subcolumns."
            properties:
              Column [0..n]:
                type: object
                description: "Container for an individual report column definition."
                properties:
                  ColType:
                    type: string 
                    description: "The type of information found in the column. Possible values include: Account—This column in the row represents an account for the row item. The row further defines the specific account. Money—This column in the row represents an amount for the row item."
                    enum: [Account, Money]
                  ColTitle: 
                    type: string 
                    description: The column label. This string appears at the top of the column. If not defined, the column does not have a label. The value of this attribute is localized.
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            admin: Grants access to admin operations