openapi: 3.0.1
info: 
  title: Bill API For QuickBooks 
  description: A Bill object is an AP transaction representing a request-for-payment from a third party for goods/services rendered, received, or both.
  contact:
    name: Bill APi  
    url: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/bill
  version: v 1.0.0
servers: 
  - url:  https://quickbooks.api.intuit.com
paths:
  /v3/company/<realmID>/bill:
    description: ""
    post:
     requestBody:
      content:
        application.json:
          schema:
            type: object
            properties:
              VendorRef:
                type: object
                description: Reference to the vendor for this transaction. Query the Vendor name list resource to determine the appropriate Vendor object for this reference. Use Vendor.Id and Vendor.Name from that object for VendorRef.value and VendorRef.name, respectively.
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              Line [0..n]:
                type: object
                description: The minimum line item required for the request.
                properties:
                  Id:
                    type: string 
                    description: "The Id of the line item. Its use in requests is as folllows: If Idis greater than zero and exists for the company, the request is considered an update operation for a line item. If no Idis provided, the Idprovided is less than or equal to zero, or the Idprovided is greater than zero and does not exist for the company then the request is considered a create operation for a line item. Available in all objects that use lines and support the update operation."
                  DetailType:
                    type: string 
                    description: Set to AccountBasedExpenseLineDetailfor this type of line.
                    enum: [AccountBasedExpenseLineDetail]
                  Amount:
                    type: number 
                    description: The amount of the line item.
                  AccountBasedExpenseLineDetail:
                    type: object
                    description: LineDetail
                    properties:
                      AccountRef:
                        type: object
                        description: "Reference to the Expense account associated with this item. Query the Account name list resource to determine the appropriate Account object for this reference, where Account.AccountType=Expense. Use Account.Id and Account.Name from that object for AccountRef.value and AccountRef.name, respectively. For France locales: The account associated with the referenced Account object is looked up in the account category list. If this account has same location as specified in the transaction by the TransactionLocationType attribute and the same VAT as in the line item TaxCodeRef attribute, then this account is used. If there is a mismatch, then the account from the account category list that matches the transaction location and VAT is used. If this account is not present in the account category list, then a new account is created with the new location, new VAT code, and all other attributes as in the default account."
                        properties:
                          value:
                            type: string 
                            description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                          name:
                            type: string 
                            description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      TaxAmount:
                        type: number
                        description: Sales tax paid as part of the expense.
                      TaxInclusiveAmt:
                        type: number
                        description: "The total amount of the line item including tax. Constraints: Available when endpoint is evoked with the minorversion=1query parameter."
                      ClassRef:
                        type: object
                        description: "ReferenceType Reference to the Class associated with the expense. Available if Preferences.AccountingInfoPrefs.ClassTrackingPerLine is set to true. Query the Class name list resource to determine the appropriate Class object for this reference. Use Class.Id and Class.Name from that object for ClassRef.value and ClassRef.name, respectively."
                        properties:
                          value:
                            type: string 
                            description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                          name:
                            type: string 
                            description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      TaxCodeRef:
                        type: object
                        description: The TaxCodeassociated with the sales tax for the expense. Query the TaxCode name list resource to determine the appropriate TaxCode object for this reference. Use TaxCode.Id and TaxCode.Name from that object for TaxCodeRef.value and TaxCodeRef.name, respectively.
                        properties:
                          value:
                            type: string 
                            description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                          name:
                            type: string 
                            description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      MarkupInfo:
                        type: object
                        description: Markup information for the expense.
                        properties:
                          PriceLevelRef:
                            type: object
                            description: Reference to a PriceLevel for the markup. Support for this element will be available in the coming months.
                            properties:
                              value:
                                type: string 
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          Percent:
                            type: number
                            description: Markup amount expressed as a percent of charges already entered in the current transaction. To enter a rate of 10% use 10.0, not 0.01.
                          MarkUpIncomeAccountRef:
                            type: object
                            description: "The account associated with the markup. Available with invoice objects, only, and when linktxn specified a ReimburseCharge."
                            properties:
                              value:
                                type: string 
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      BillableStatus:
                        type: string 
                        description: "The billable status of the expense. Valid values: Billable, NotBillable, HasBeenBilled"
                        enum: [Billable, NotBillable, HasBeenBilled]
                      CustomerRef:
                        type: object
                        description: ""
                        properties:
                          value:
                            type: string 
                            description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                          name:
                            type: string 
                            description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                  Description:
                    type: string 
                    description: Free form text description of the line item that appears in the printed record.
                  LineNum:
                    type: string
                    description: Specifies the position of the line in the collection of transaction lines. Positive Integer.
              CurrencyRef:
                type: object
                description: "Reference to the currency in which all amounts on the associated transaction are expressed. This must be defined if multicurrency is enabled for the company. Multicurrency is enabled for the company if Preferences.MultiCurrencyEnabled is set to true. Read more about multicurrency support here. Required if multicurrency is enabled for the company."
                properties:
                  value:
                    type: string 
                    description: A three letter string representing the ISO 4217 code for the currency. For example, USD, AUD, EUR, and so on.
                  name:
                    type: string 
                    description: The full name of the currency.
     security:
      - OAuth2: [admin]
     responses:
       200:
        description: The bill response body.
        content:
          application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Bill'
  /v3/company/<realmID>/bill/operation=delete:
    description: "This operation deletes the bill object specified in the request body. Include a minimum of Bill.Id and Bill.SyncToken in the request body. You must unlink any linked transactions associated with the bill object before deleting it."
    post:
     requestBody:
      content:
        application.json:
          schema:
            type: object
            properties:
              Id:
                type: string 
                description: Unique identifier for this object. Sort order is ASC by default.
              VendorRef:
                type: object
                description: Reference to the vendor for this transaction. Query the Vendor name list resource to determine the appropriate Vendor object for this reference. Use Vendor.Id and Vendor.Name from that object for VendorRef.value and VendorRef.name, respectively.
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              Line [0..n]:
                type: object
                description: "Individual line items of a transaction. Valid Line types include: ItemBasedExpenseLine and AccountBasedExpenseLine"
                properties:
                  ItemBasedExpenseLine:
                    type: object
                    description: ""
                    properties:
                      Id:
                        type: string 
                        description: "The Id of the line item. Its use in requests is as folllows: If Idis greater than zero and exists for the company, the request is considered an update operation for a line item. If no Idis provided, the Idprovided is less than or equal to zero, or the Idprovided is greater than zero and does not exist for the company then the request is considered a create operation for a line item. Available in all objects that use lines and support the update operation."
                      ItemBasedExpenseLineDetail:
                        type: object
                        description: ""
                        properties:
                          TaxInclusiveAmt:
                            type: number
                            description: "The total amount of the line item including tax. Constraints: Available when endpoint is evoked with the minorversion=1query parameter."
                          ItemRef:
                            type: object
                            description: "Reference to the Item. Query the Item name list resource to determine the appropriate Item object for this reference. Use Item.Id and Item.Name from that object for ItemRef.value and ItemRef.name, respectively. When a line lacks an ItemRef it is treated as documentation and the Line.Amount attribute is ignored. For France locales: The account associated with the referenced Item object is looked up in the account category list."
                            properties:
                              value:
                                type: string
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          CustomerRef:
                            type: object
                            description: Reference to a customer or job. Query the Customer name list resource to determine the appropriate Customer object for this reference. Use Customer.Id and Customer.DisplayName from that object for CustomerRef.value and CustomerRef.name, respectively.
                            properties:
                              value:
                                type: string
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          PriceLevelRef:
                            type: object
                            description: Reference to the PriceLevel of the service or item for the line. Support for this element will be available in the coming months.
                            properties:
                              value:
                                type: string
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          ClassRef:
                            type: object
                            description: Reference to the Class associated with the expense. Available if Preferences.AccountingInfoPrefs.ClassTrackingPerLine is set to true. Query the Class name list resource to determine the appropriate Class object for this reference. Use Class.Id and Class.Name from that object for ClassRef.value and ClassRef.name, respectively.
                            properties:
                              value:
                                type: string
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          TaxCodeRef:
                            type: object
                            description: Reference to the TaxCodefor this item. Query the TaxCode name list resource to determine the appropriate TaxCode object for this reference. Use TaxCode.Id and TaxCode.Name from that object for TaxCodeRef.value and TaxCodeRef.name, respectively.
                            properties:
                              value:
                                type: string
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          MarkupInfo:
                            type: object
                            description: Markup information for the expense.
                            properties:
                              PriceLevelRef:
                                type: object
                                description: Reference to a PriceLevel for the markup. Support for this element will be available in the coming months.
                                properties:
                                  value:
                                    type: string
                                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                                  name:
                                    type: string 
                                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                              Percent:
                                type: number
                                description: Markup amount expressed as a percent of charges already entered in the current transaction. To enter a rate of 10% use 10.0, not 0.01.
                              MarkUpIncomeAccountRef:
                                type: object
                                description: The account associated with the markup. Available with invoice objects, only, and when linktxn specified a ReimburseCharge.
                                properties:
                                  value:
                                    type: string
                                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                                  name:
                                    type: string 
                                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      Amount:
                        type: number 
                        description: The amount of the line item.
                      DetailType:
                        type: string 
                        enum: [ItemBasedExpenseLineDetail]
                      LinkedTxn [0..n]:
                        type: object
                        description: "Zero or more transactions linked to this object. The LinkedTxn.TxnType can be set to PurchaseOrder or if using Minor Version 55 and above it can also be set to ReimburseCharge. Use LinkedTxn.TxnId as the ID of the transaction. When updating an existing Bill to link to a PurchaseOrder a new Line must be created. This behavior matches the QuickBooks UI as it does not allow the linking of an existing line, but rather a new line must be added to link the PurchaseOrder. Over the API this is achieved by simply updating the Bill Line.Id to something new. This will ensure old bill line is deleted and the new line is linked to the PurchaseOrder. Please be aware that for this PurchaseOrder-Bill linking to work all LinkedTxn child attributes are required. See child attributes below."
                      Description:
                        type: string 
                        description: Free form text description of the line item that appears in the printed record.
                      LineNum:
                        type: number
                        description: Specifies the position of the line in the collection of transaction lines. Positive integer.
                  AccountBasedExpenseLine:
                    type: object
                    description: ""
                    properties:
                      Id:
                        type: string 
                        description: "The Id of the line item. Its use in requests is as folllows: If Idis greater than zero and exists for the company, the request is considered an update operation for a line item. If no Idis provided, the Idprovided is less than or equal to zero, or the Idprovided is greater than zero and does not exist for the company then the request is considered a create operation for a line item. Available in all objects that use lines and support the update operation."
                      DetailType:
                        type: string
                        description: Set to AccountBasedExpenseLineDetailfor this type of line.
                        enum: [AccountBasedExpenseLineDetail]
                      Amount:
                        type: number 
                        description: The amount of the line item.
                      AccountBasedExpenseLineDetail:
                        type: object
                        description: ""
                        properties:
                          AccountRef:
                            type: object
                            description: "Reference to the Expense account associated with this item. Query the Account name list resource to determine the appropriate Account object for this reference, where Account.AccountType=Expense. Use Account.Id and Account.Name from that object for AccountRef.value and AccountRef.name, respectively. For France locales: The account associated with the referenced Account object is looked up in the account category list. If this account has same location as specified in the transaction by the TransactionLocationType attribute and the same VAT as in the line item TaxCodeRef attribute, then this account is used. If there is a mismatch, then the account from the account category list that matches the transaction location and VAT is used. If this account is not present in the account category list, then a new account is created with the new location, new VAT code, and all other attributes as in the default account."
                            properties:
                              value:
                                type: string 
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      TaxAmount:
                        type: number
                        description: Sales tax paid as part of the expense.
                      TaxInclusiveAmt:
                        type: number
                        description: "The total amount of the line item including tax. Constraints: Available when endpoint is evoked with the minorversion=1query parameter."
                      ClassRef:
                        type: object
                        description: The TaxCodeassociated with the sales tax for the expense. Query the TaxCode name list resource to determine the appropriate TaxCode object for this reference. Use TaxCode.Id and TaxCode.Name from that object for TaxCodeRef.value and TaxCodeRef.name, respectively.
                        properties:
                          value:
                            type: string 
                            description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                          name:
                            type: string 
                            description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      TaxCodeRef:
                        type: object
                        description: "The TaxCodeassociated with the sales tax for the expense. Query the TaxCode name list resource to determine the appropriate TaxCode object for this reference. Use TaxCode.Id and TaxCode.Name from that object for TaxCodeRef.value and TaxCodeRef.name, respectively."
                        properties:
                          value:
                            type: string 
                            description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                          name:
                            type: string 
                            description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      MarkupInfo:
                        type: object
                        description: Markup information for the expense.
                        properties:
                          PriceLevelRef:
                            type: object
                            description: Reference to a PriceLevel for the markup. Support for this element will be available in the coming months.
                            properties:
                              value:
                                type: string 
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          Percent:
                            type: number
                            description: "Markup amount expressed as a percent of charges already entered in the current transaction. To enter a rate of 10% use 10.0, not 0.01."
                          MarkUpIncomeAccountRef:
                            type: object
                            description: The account associated with the markup. Available with invoice objects, only, and when linktxn specified a ReimburseCharge.
                            properties:
                              value:
                                type: string 
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      BillableStatus:
                        type: string 
                        description: "The billable status of the expense. Valid values: Billable, NotBillable, HasBeenBilled"
                        enum: [Billable, NotBillable, HasBeenBilled]
                      CustomerRef:
                        type: object
                        description: "Reference to the Customer associated with the expense. Query the Customer name list resource to determine the appropriate Customer object for this reference. Use Customer.Id and Customer.DisplayName from that object for CustomerRef.value and CustomerRef.name, respectively."
                        properties:
                          value:
                            type: string 
                            description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                          name:
                            type: string 
                            description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                  LinkedTxn [0..n]:
                    type: object
                    description: "Zero or more PurchaseOrder transactions linked to this Bill object. The LinkedTxn.TxnType should always be set to PurchaseOrder. Use LinkedTxn.TxnId as the ID of the PurchaseOrder. When updating an existing Bill to link to a PurchaseOrder a new Line must be created. This behavior matches the QuickBooks UI as it does not allow the linking of an existing line, but rather a new line must be added to link the PurchaseOrder. Over the API this is achieved by simply updating the Bill Line.Id to something new. This will ensure old bill line is deleted and the new line is linked to the PurchaseOrder."
                  Description:
                    type: string 
                    description: Free form text description of the line item that appears in the printed record.
                  LineNum:
                    type: number
                    description: Specifies the position of the line in the collection of transaction lines. Positive Integer.
              SyncToken:
                type: string 
                description: Version number of the object. It is used to lock an object for use by one app at a time. As soon as an application modifies an object, its SyncToken is incremented. Attempts to modify an object specifying an older SyncToken fails. Only the latest version of the object is maintained by QuickBooks Online.
              CurrencyRef:
                type: object
                description: Reference to the currency in which all amounts on the associated transaction are expressed. This must be defined if multicurrency is enabled for the company. Multicurrency is enabled for the company if Preferences.MultiCurrencyEnabled is set to true. Read more about multicurrency support here. Required if multicurrency is enabled for the company.
                properties:
                  value:
                    type: string 
                    description: A three letter string representing the ISO 4217 code for the currency. For example, USD, AUD, EUR, and so on.
                  name:
                    type: string 
                    description: The full name of the currency.
              TxnDate:
                type: string 
                description: "The date entered by the user when this transaction occurred. For posting transactions, this is the posting date that affects the financial statements. If the date is not supplied, the current date on the server is used. Sort order is ASC by default."
              APAccountRef:
                type: object
                description: "Specifies to which AP account the bill is credited. Query the Account name list resource to determine the appropriate Account object for this reference. Use Account.Id and Account.Name from that object for APAccountRef.value and APAccountRef.name, respectively. The specified account must have Account.Classification set to Liability and Account.AccountSubType set to AccountsPayable. If the company has a single AP account, the account is implied. However, it is recommended that the AP Account be explicitly specified in all cases to prevent unexpected errors when relating transactions to each other."
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              SalesTermRef:
                type: object
                description: "Reference to the Term associated with the transaction. Query the Term name list resource to determine the appropriate Term object for this reference. Use Term.Id and Term.Name from that object for SalesTermRef.value and SalesTermRef.name, respectively."
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              LinkedTxn [0..n]:
                type: object
                description: "Zero or more transactions linked to this Bill object. The LinkedTxn.TxnType can be set to PurchaseOrder, BillPaymentCheck or if using Minor Version 55 and above ReimburseCharge. Use LinkedTxn.TxnId as the ID of the transaction."
                properties:
                  TxnId:
                    type: string 
                    description: Transaction Id of the related transaction.
                  TxnType:
                    type: string 
                    description: Transaction type of the linked object.
                  TxnLineId:
                    type: string 
                    description: Required for Deposit and Bill entities. The line number of a specific line of the linked transaction. If supplied, the TxnId and TxnType attributes of the linked transaction must also be populated.
              GlobalTaxCalculation:
                type: string 
                description: "Method in which tax is applied. Allowed values are: TaxExcluded, TaxInclusive, and NotApplicable."
                enum: [TaxExcluded, TaxInclusive, NotApplicable]
              TotalAmt:
                type: number
                description: Indicates the total amount of the transaction. This includes the total of all the charges, allowances, and taxes. Calculated by QuickBooks business logic; any value you supply is over-written by QuickBooks.
              TransactionLocationType:
                type: string 
                description: "The account location. Valid values include: WithinFrance FranceOverseas OutsideFranceWithEU OutsideEU For France locales, only."
              DueDate:
                type: object
                description: Date when the payment of the transaction is due. If date is not provided, the number of days specified in SalesTermRef added the transaction date will be used.
                properties:
                  date:
                    type: string 
                    description: "Local timezone: YYYY-MM-DD UTC: YYYY-MM-DDZ Specific time zone: YYYY-MM-DD+/-HH:MM The date format follows the XML Schema standard."
              MetaData:
                type: object
                description: Descriptive information about the object. The MetaData values are set by Data Services and are read only for all applications.
                properties:
                  CreateTime:
                    type: object
                    description: Time the entity was created in the source domain.
                    properties:
                      dateTime:
                        type: string 
                        description: "Local time zone: YYYY-MM-DDTHH:MM:SS UTC: YYYY-MM-DDT HH :MM: SSZ Specific time zone: YYYY-MM-DDT HH :MM:SS +/- HH :MM"
                  LastUpdatedTime:
                    type: object
                    description: Time the entity was last updated in the source domain.
                    properties:
                      dateTime:
                        type: string 
                        description: "Local time zone: YYYY-MM-DDTHH:MM:SS UTC: YYYY-MM-DDT HH :MM: SSZ Specific time zone: YYYY-MM-DDT HH :MM:SS +/- HH :MM"
              DocNumber:
                type: string 
                description: "Reference number for the transaction. If not explicitly provided at create time, a custom value can be provided. If no value is supplied, the resulting DocNumber is null. Throws an error when duplicate DocNumber is sent in the request. Recommended best practice: check the setting of Preferences:OtherPrefs before setting DocNumber. If a duplicate DocNumber needs to be supplied, add the query parameter name/value pair, include=allowduplicatedocnum to the URI. Sort order is ASC by default."
              PrivateNote:
                type: string 
                description: User entered, organization-private note about the transaction. This note does not appear on the invoice to the customer. This field maps to the Memo field on the Invoice form.
              TxnTaxDetail:
                type: object
                description: "This data type provides information for taxes charged on the transaction as a whole. It captures the details of all taxes calculated for the transaction based on the tax codes referenced by the transaction. This can be calculated by QuickBooks business logic or you may supply it when adding a transaction. If sales tax is disabled (Preferences.TaxPrefs.UsingSalesTax is set to false) then TxnTaxDetail is ignored and not stored."
                properties:
                  TxnTaxCodeRef:
                    type: object
                    description: "Reference to the transaction tax code. Query the TaxCode name list resource to determine the appropriate TaxCode object for this reference. Use TaxCode.Id and TaxCode.Name from that object for TaxCodeRef.value and TaxCodeRef.name, respectively. If specified and sales tax is disabled (Preferences.TaxPrefs.UsingSalesTax is set to false), this element is ignored and not returned. For sales transactions, only: if automated sales tax is enabled (Preferences.TaxPrefs.PartnerTaxEnabled is set to true) the supplied transaction tax code is replaced by the automated sales tax engine recommendation."
                    properties:
                      value:
                        type: string 
                        description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                      name:
                        type: string 
                        description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                  TotalTax:
                    type: number
                    description: Total tax calculated for the transaction, excluding any tax lines manually inserted into the transaction line list.
                  TaxLine [0..n]:
                    type: object
                    description: ""
                    properties:
                      DetailType:
                        type: string 
                        description: Set to TaxLineDetailfor this type of line.
                        enum: [TaxLineDetail] 
                      TaxLineDetail:
                        type: object
                        description: TaxLineDetail
                        properties:
                          TaxRateRef:
                            type: object
                            description: "Reference to a TaxRate to apply to the entire transaction. Query the TaxRate name list resource to determine the appropriate TaxRage object for this reference. Use TaxRate.Id and TaxRate.Name from that object for TaxRateRef.value and TaxRateRef.name, respectively. For non-US versions of QuickBooks, the TaxRate referenced here must also be one of the rates in the referenced tax code's rate list—either the SalesTaxRateList or the PurchaseTaxRateList—as applies to the transaction type. Any given rate may only be listed once."
                            properties:
                              value:
                                type: string 
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          NetAmountTaxable:
                            type: number
                            description: "This is the taxable amount on the total of the applicable tax rates. If TaxRate is applicable on two lines, this attribute represents the total of the two lines for which this rate is applied. This is different from the Line.Amount , which represents the final tax amount after the tax has been applied. Default Value: Null"
                          PercentBased:
                            type: boolean
                            description: "True—sales tax rate is expressed as a percentage. False—sales tax rate is expressed as a number amount."
                          TaxInclusiveAmount:
                            type: number
                            description: This is the total amount, including tax.
                          OverrideDeltaAmount:
                            type: number
                            description: The difference between the actual tax and the overridden amount supplied by the user.
                          TaxPercent:
                            type: number
                            description: Numerical expression of the sales tax percent. For example, use "8.5" not "0.085".
                      Amount:
                        type: number
                        description: The amount of tax for this tax line. This value is negative for JournalEntry objects with PostingType set to Credit.
              ExchangeRate:
                type: number
                description: The number of home currency units it takes to equal one unit of currency specified by CurrencyRef. Applicable if multicurrency is enabled for the company.
              DepartmentRef:
                type: object
                description: A reference to a Department object specifying the location of the transaction, as defined using location tracking in QuickBooks Online. Query the Department name list resource to determine the appropriate department object for this reference. Use Department.Id and Department.Name from that object for DepartmentRef.value and DepartmentRef.name, respectively.
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              IncludeInAnnualTPAR:
                type: boolean
                description: Include the supplier in the annual TPAR. TPAR stands for Taxable Payments Annual Report. The TPAR is mandated by ATO to get the details payments that businesses make to contractors for providing services. Some government entities also need to report the grants they have paid in a TPAR.
              HomeBalance:
                type: number
                description: Convenience field containing the amount in Balance expressed in terms of the home currency. Calculated by QuickBooks business logic. Value is valid only when CurrencyRef is specified and available when endpoint is evoked with the minorversion=3 query parameter. Applicable if multicurrency is enabled for the company.
              RecurDataRef:
                type: object
                description: A reference to the Recurring Transaction. It captures what recurring transaction template the Bill was created from.
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              Balance:
                type: number
                description: The balance reflecting any payments made against the transaction. Initially set to the value of TotalAmt. A Balance of 0 indicates the bill is fully paid. Calculated by QuickBooks business logic; any value you supply is over-written by QuickBooks.
              
     security:
      - OAuth2: [admin]
     responses:
       200:
        description: The bill response body.
        content:
          application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Bill'        
  /v3/company/<realmID>/bill/<billId>:
    description: ""
    get:
     security:
      - OAuth2: [admin]
     responses:
       200:
        description: The bill response body.
        content:
          application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Bill'
  /v3/company/<realmID>/bill/update:
    description: "Use this operation to update any of the writable fields of an existing bill object. The request body must include all writable fields of the existing object as returned in a read response. Writable fields omitted from the request body are set to NULL. The ID of the object to update is specified in the request body."
    post:
     requestBody:
      content:
        application.json:
          schema:
            type: object
            properties:
              Id:
                type: string 
                description: Unique identifier for this object. Sort order is ASC by default.
              VendorRef:
                type: object
                description: Reference to the vendor for this transaction. Query the Vendor name list resource to determine the appropriate Vendor object for this reference. Use Vendor.Id and Vendor.Name from that object for VendorRef.value and VendorRef.name, respectively.
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              Line [0..n]:
                type: object
                description: "Individual line items of a transaction. Valid Line types include: ItemBasedExpenseLine and AccountBasedExpenseLine"
                properties:
                  ItemBasedExpenseLine:
                    type: object
                    description: ""
                    properties:
                      Id:
                        type: string 
                        description: "The Id of the line item. Its use in requests is as folllows: If Idis greater than zero and exists for the company, the request is considered an update operation for a line item. If no Idis provided, the Idprovided is less than or equal to zero, or the Idprovided is greater than zero and does not exist for the company then the request is considered a create operation for a line item. Available in all objects that use lines and support the update operation."
                      ItemBasedExpenseLineDetail:
                        type: object
                        description: ""
                        properties:
                          TaxInclusiveAmt:
                            type: number
                            description: "The total amount of the line item including tax. Constraints: Available when endpoint is evoked with the minorversion=1query parameter."
                          ItemRef:
                            type: object
                            description: "Reference to the Item. Query the Item name list resource to determine the appropriate Item object for this reference. Use Item.Id and Item.Name from that object for ItemRef.value and ItemRef.name, respectively. When a line lacks an ItemRef it is treated as documentation and the Line.Amount attribute is ignored. For France locales: The account associated with the referenced Item object is looked up in the account category list."
                            properties:
                              value:
                                type: string
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          CustomerRef:
                            type: object
                            description: Reference to a customer or job. Query the Customer name list resource to determine the appropriate Customer object for this reference. Use Customer.Id and Customer.DisplayName from that object for CustomerRef.value and CustomerRef.name, respectively.
                            properties:
                              value:
                                type: string
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          PriceLevelRef:
                            type: object
                            description: Reference to the PriceLevel of the service or item for the line. Support for this element will be available in the coming months.
                            properties:
                              value:
                                type: string
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          ClassRef:
                            type: object
                            description: Reference to the Class associated with the expense. Available if Preferences.AccountingInfoPrefs.ClassTrackingPerLine is set to true. Query the Class name list resource to determine the appropriate Class object for this reference. Use Class.Id and Class.Name from that object for ClassRef.value and ClassRef.name, respectively.
                            properties:
                              value:
                                type: string
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          TaxCodeRef:
                            type: object
                            description: Reference to the TaxCodefor this item. Query the TaxCode name list resource to determine the appropriate TaxCode object for this reference. Use TaxCode.Id and TaxCode.Name from that object for TaxCodeRef.value and TaxCodeRef.name, respectively.
                            properties:
                              value:
                                type: string
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          MarkupInfo:
                            type: object
                            description: Markup information for the expense.
                            properties:
                              PriceLevelRef:
                                type: object
                                description: Reference to a PriceLevel for the markup. Support for this element will be available in the coming months.
                                properties:
                                  value:
                                    type: string
                                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                                  name:
                                    type: string 
                                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                              Percent:
                                type: number
                                description: Markup amount expressed as a percent of charges already entered in the current transaction. To enter a rate of 10% use 10.0, not 0.01.
                              MarkUpIncomeAccountRef:
                                type: object
                                description: The account associated with the markup. Available with invoice objects, only, and when linktxn specified a ReimburseCharge.
                                properties:
                                  value:
                                    type: string
                                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                                  name:
                                    type: string 
                                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      Amount:
                        type: number 
                        description: The amount of the line item.
                      DetailType:
                        type: string 
                        enum: [ItemBasedExpenseLineDetail]
                      LinkedTxn [0..n]:
                        type: object
                        description: "Zero or more transactions linked to this object. The LinkedTxn.TxnType can be set to PurchaseOrder or if using Minor Version 55 and above it can also be set to ReimburseCharge. Use LinkedTxn.TxnId as the ID of the transaction. When updating an existing Bill to link to a PurchaseOrder a new Line must be created. This behavior matches the QuickBooks UI as it does not allow the linking of an existing line, but rather a new line must be added to link the PurchaseOrder. Over the API this is achieved by simply updating the Bill Line.Id to something new. This will ensure old bill line is deleted and the new line is linked to the PurchaseOrder. Please be aware that for this PurchaseOrder-Bill linking to work all LinkedTxn child attributes are required. See child attributes below."
                      Description:
                        type: string 
                        description: Free form text description of the line item that appears in the printed record.
                      LineNum:
                        type: number
                        description: Specifies the position of the line in the collection of transaction lines. Positive integer.
                  AccountBasedExpenseLine:
                    type: object
                    description: ""
                    properties:
                      Id:
                        type: string 
                        description: "The Id of the line item. Its use in requests is as folllows: If Idis greater than zero and exists for the company, the request is considered an update operation for a line item. If no Idis provided, the Idprovided is less than or equal to zero, or the Idprovided is greater than zero and does not exist for the company then the request is considered a create operation for a line item. Available in all objects that use lines and support the update operation."
                      DetailType:
                        type: string
                        description: Set to AccountBasedExpenseLineDetailfor this type of line.
                        enum: [AccountBasedExpenseLineDetail]
                      Amount:
                        type: number 
                        description: The amount of the line item.
                      AccountBasedExpenseLineDetail:
                        type: object
                        description: ""
                        properties:
                          AccountRef:
                            type: object
                            description: "Reference to the Expense account associated with this item. Query the Account name list resource to determine the appropriate Account object for this reference, where Account.AccountType=Expense. Use Account.Id and Account.Name from that object for AccountRef.value and AccountRef.name, respectively. For France locales: The account associated with the referenced Account object is looked up in the account category list. If this account has same location as specified in the transaction by the TransactionLocationType attribute and the same VAT as in the line item TaxCodeRef attribute, then this account is used. If there is a mismatch, then the account from the account category list that matches the transaction location and VAT is used. If this account is not present in the account category list, then a new account is created with the new location, new VAT code, and all other attributes as in the default account."
                            properties:
                              value:
                                type: string 
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      TaxAmount:
                        type: number
                        description: Sales tax paid as part of the expense.
                      TaxInclusiveAmt:
                        type: number
                        description: "The total amount of the line item including tax. Constraints: Available when endpoint is evoked with the minorversion=1query parameter."
                      ClassRef:
                        type: object
                        description: The TaxCodeassociated with the sales tax for the expense. Query the TaxCode name list resource to determine the appropriate TaxCode object for this reference. Use TaxCode.Id and TaxCode.Name from that object for TaxCodeRef.value and TaxCodeRef.name, respectively.
                        properties:
                          value:
                            type: string 
                            description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                          name:
                            type: string 
                            description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      TaxCodeRef:
                        type: object
                        description: "The TaxCodeassociated with the sales tax for the expense. Query the TaxCode name list resource to determine the appropriate TaxCode object for this reference. Use TaxCode.Id and TaxCode.Name from that object for TaxCodeRef.value and TaxCodeRef.name, respectively."
                        properties:
                          value:
                            type: string 
                            description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                          name:
                            type: string 
                            description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      MarkupInfo:
                        type: object
                        description: Markup information for the expense.
                        properties:
                          PriceLevelRef:
                            type: object
                            description: Reference to a PriceLevel for the markup. Support for this element will be available in the coming months.
                            properties:
                              value:
                                type: string 
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          Percent:
                            type: number
                            description: "Markup amount expressed as a percent of charges already entered in the current transaction. To enter a rate of 10% use 10.0, not 0.01."
                          MarkUpIncomeAccountRef:
                            type: object
                            description: The account associated with the markup. Available with invoice objects, only, and when linktxn specified a ReimburseCharge.
                            properties:
                              value:
                                type: string 
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                      BillableStatus:
                        type: string 
                        description: "The billable status of the expense. Valid values: Billable, NotBillable, HasBeenBilled"
                        enum: [Billable, NotBillable, HasBeenBilled]
                      CustomerRef:
                        type: object
                        description: "Reference to the Customer associated with the expense. Query the Customer name list resource to determine the appropriate Customer object for this reference. Use Customer.Id and Customer.DisplayName from that object for CustomerRef.value and CustomerRef.name, respectively."
                        properties:
                          value:
                            type: string 
                            description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                          name:
                            type: string 
                            description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                  LinkedTxn [0..n]:
                    type: object
                    description: "Zero or more PurchaseOrder transactions linked to this Bill object. The LinkedTxn.TxnType should always be set to PurchaseOrder. Use LinkedTxn.TxnId as the ID of the PurchaseOrder. When updating an existing Bill to link to a PurchaseOrder a new Line must be created. This behavior matches the QuickBooks UI as it does not allow the linking of an existing line, but rather a new line must be added to link the PurchaseOrder. Over the API this is achieved by simply updating the Bill Line.Id to something new. This will ensure old bill line is deleted and the new line is linked to the PurchaseOrder."
                  Description:
                    type: string 
                    description: Free form text description of the line item that appears in the printed record.
                  LineNum:
                    type: number
                    description: Specifies the position of the line in the collection of transaction lines. Positive Integer.
              SyncToken:
                type: string 
                description: Version number of the object. It is used to lock an object for use by one app at a time. As soon as an application modifies an object, its SyncToken is incremented. Attempts to modify an object specifying an older SyncToken fails. Only the latest version of the object is maintained by QuickBooks Online.
              CurrencyRef:
                type: object
                description: Reference to the currency in which all amounts on the associated transaction are expressed. This must be defined if multicurrency is enabled for the company. Multicurrency is enabled for the company if Preferences.MultiCurrencyEnabled is set to true. Read more about multicurrency support here. Required if multicurrency is enabled for the company.
                properties:
                  value:
                    type: string 
                    description: A three letter string representing the ISO 4217 code for the currency. For example, USD, AUD, EUR, and so on.
                  name:
                    type: string 
                    description: The full name of the currency.
              TxnDate:
                type: string 
                description: "The date entered by the user when this transaction occurred. For posting transactions, this is the posting date that affects the financial statements. If the date is not supplied, the current date on the server is used. Sort order is ASC by default."
              APAccountRef:
                type: object
                description: "Specifies to which AP account the bill is credited. Query the Account name list resource to determine the appropriate Account object for this reference. Use Account.Id and Account.Name from that object for APAccountRef.value and APAccountRef.name, respectively. The specified account must have Account.Classification set to Liability and Account.AccountSubType set to AccountsPayable. If the company has a single AP account, the account is implied. However, it is recommended that the AP Account be explicitly specified in all cases to prevent unexpected errors when relating transactions to each other."
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              SalesTermRef:
                type: object
                description: "Reference to the Term associated with the transaction. Query the Term name list resource to determine the appropriate Term object for this reference. Use Term.Id and Term.Name from that object for SalesTermRef.value and SalesTermRef.name, respectively."
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              LinkedTxn [0..n]:
                type: object
                description: "Zero or more transactions linked to this Bill object. The LinkedTxn.TxnType can be set to PurchaseOrder, BillPaymentCheck or if using Minor Version 55 and above ReimburseCharge. Use LinkedTxn.TxnId as the ID of the transaction."
                properties:
                  TxnId:
                    type: string 
                    description: Transaction Id of the related transaction.
                  TxnType:
                    type: string 
                    description: Transaction type of the linked object.
                  TxnLineId:
                    type: string 
                    description: Required for Deposit and Bill entities. The line number of a specific line of the linked transaction. If supplied, the TxnId and TxnType attributes of the linked transaction must also be populated.
              GlobalTaxCalculation:
                type: string 
                description: "Method in which tax is applied. Allowed values are: TaxExcluded, TaxInclusive, and NotApplicable."
                enum: [TaxExcluded, TaxInclusive, NotApplicable]
              TotalAmt:
                type: number
                description: Indicates the total amount of the transaction. This includes the total of all the charges, allowances, and taxes. Calculated by QuickBooks business logic; any value you supply is over-written by QuickBooks.
              TransactionLocationType:
                type: string 
                description: "The account location. Valid values include: WithinFrance FranceOverseas OutsideFranceWithEU OutsideEU For France locales, only."
              DueDate:
                type: object
                description: Date when the payment of the transaction is due. If date is not provided, the number of days specified in SalesTermRef added the transaction date will be used.
                properties:
                  date:
                    type: string 
                    description: "Local timezone: YYYY-MM-DD UTC: YYYY-MM-DDZ Specific time zone: YYYY-MM-DD+/-HH:MM The date format follows the XML Schema standard."
              MetaData:
                type: object
                description: Descriptive information about the object. The MetaData values are set by Data Services and are read only for all applications.
                properties:
                  CreateTime:
                    type: object
                    description: Time the entity was created in the source domain.
                    properties:
                      dateTime:
                        type: string 
                        description: "Local time zone: YYYY-MM-DDTHH:MM:SS UTC: YYYY-MM-DDT HH :MM: SSZ Specific time zone: YYYY-MM-DDT HH :MM:SS +/- HH :MM"
                  LastUpdatedTime:
                    type: object
                    description: Time the entity was last updated in the source domain.
                    properties:
                      dateTime:
                        type: string 
                        description: "Local time zone: YYYY-MM-DDTHH:MM:SS UTC: YYYY-MM-DDT HH :MM: SSZ Specific time zone: YYYY-MM-DDT HH :MM:SS +/- HH :MM"
              DocNumber:
                type: string 
                description: "Reference number for the transaction. If not explicitly provided at create time, a custom value can be provided. If no value is supplied, the resulting DocNumber is null. Throws an error when duplicate DocNumber is sent in the request. Recommended best practice: check the setting of Preferences:OtherPrefs before setting DocNumber. If a duplicate DocNumber needs to be supplied, add the query parameter name/value pair, include=allowduplicatedocnum to the URI. Sort order is ASC by default."
              PrivateNote:
                type: string 
                description: User entered, organization-private note about the transaction. This note does not appear on the invoice to the customer. This field maps to the Memo field on the Invoice form.
              TxnTaxDetail:
                type: object
                description: "This data type provides information for taxes charged on the transaction as a whole. It captures the details of all taxes calculated for the transaction based on the tax codes referenced by the transaction. This can be calculated by QuickBooks business logic or you may supply it when adding a transaction. If sales tax is disabled (Preferences.TaxPrefs.UsingSalesTax is set to false) then TxnTaxDetail is ignored and not stored."
                properties:
                  TxnTaxCodeRef:
                    type: object
                    description: "Reference to the transaction tax code. Query the TaxCode name list resource to determine the appropriate TaxCode object for this reference. Use TaxCode.Id and TaxCode.Name from that object for TaxCodeRef.value and TaxCodeRef.name, respectively. If specified and sales tax is disabled (Preferences.TaxPrefs.UsingSalesTax is set to false), this element is ignored and not returned. For sales transactions, only: if automated sales tax is enabled (Preferences.TaxPrefs.PartnerTaxEnabled is set to true) the supplied transaction tax code is replaced by the automated sales tax engine recommendation."
                    properties:
                      value:
                        type: string 
                        description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                      name:
                        type: string 
                        description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                  TotalTax:
                    type: number
                    description: Total tax calculated for the transaction, excluding any tax lines manually inserted into the transaction line list.
                  TaxLine [0..n]:
                    type: object
                    description: ""
                    properties:
                      DetailType:
                        type: string 
                        description: Set to TaxLineDetailfor this type of line.
                        enum: [TaxLineDetail] 
                      TaxLineDetail:
                        type: object
                        description: TaxLineDetail
                        properties:
                          TaxRateRef:
                            type: object
                            description: "Reference to a TaxRate to apply to the entire transaction. Query the TaxRate name list resource to determine the appropriate TaxRage object for this reference. Use TaxRate.Id and TaxRate.Name from that object for TaxRateRef.value and TaxRateRef.name, respectively. For non-US versions of QuickBooks, the TaxRate referenced here must also be one of the rates in the referenced tax code's rate list—either the SalesTaxRateList or the PurchaseTaxRateList—as applies to the transaction type. Any given rate may only be listed once."
                            properties:
                              value:
                                type: string 
                                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                              name:
                                type: string 
                                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
                          NetAmountTaxable:
                            type: number
                            description: "This is the taxable amount on the total of the applicable tax rates. If TaxRate is applicable on two lines, this attribute represents the total of the two lines for which this rate is applied. This is different from the Line.Amount , which represents the final tax amount after the tax has been applied. Default Value: Null"
                          PercentBased:
                            type: boolean
                            description: "True—sales tax rate is expressed as a percentage. False—sales tax rate is expressed as a number amount."
                          TaxInclusiveAmount:
                            type: number
                            description: This is the total amount, including tax.
                          OverrideDeltaAmount:
                            type: number
                            description: The difference between the actual tax and the overridden amount supplied by the user.
                          TaxPercent:
                            type: number
                            description: Numerical expression of the sales tax percent. For example, use "8.5" not "0.085".
                      Amount:
                        type: number
                        description: The amount of tax for this tax line. This value is negative for JournalEntry objects with PostingType set to Credit.
              ExchangeRate:
                type: number
                description: The number of home currency units it takes to equal one unit of currency specified by CurrencyRef. Applicable if multicurrency is enabled for the company.
              DepartmentRef:
                type: object
                description: A reference to a Department object specifying the location of the transaction, as defined using location tracking in QuickBooks Online. Query the Department name list resource to determine the appropriate department object for this reference. Use Department.Id and Department.Name from that object for DepartmentRef.value and DepartmentRef.name, respectively.
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              IncludeInAnnualTPAR:
                type: boolean
                description: Include the supplier in the annual TPAR. TPAR stands for Taxable Payments Annual Report. The TPAR is mandated by ATO to get the details payments that businesses make to contractors for providing services. Some government entities also need to report the grants they have paid in a TPAR.
              HomeBalance:
                type: number
                description: Convenience field containing the amount in Balance expressed in terms of the home currency. Calculated by QuickBooks business logic. Value is valid only when CurrencyRef is specified and available when endpoint is evoked with the minorversion=3 query parameter. Applicable if multicurrency is enabled for the company.
              RecurDataRef:
                type: object
                description: A reference to the Recurring Transaction. It captures what recurring transaction template the Bill was created from.
                properties:
                  value:
                    type: string 
                    description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
                  name:
                    type: string 
                    description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
              Balance:
                type: number
                description: The balance reflecting any payments made against the transaction. Initially set to the value of TotalAmt. A Balance of 0 indicates the bill is fully paid. Calculated by QuickBooks business logic; any value you supply is over-written by QuickBooks.
              
     security:
      - OAuth2: [admin]
     responses:
       200:
        description: The bill response body.
        content:
          application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Bill'                        
components:
  schemas:
      Bill:
        type: object
        description: A Bill object is an AP transaction representing a request-for-payment from a third party for goods/services rendered, received, or both.
        properties:
          Id:
            type: string 
            description: Unique identifier for this object. Sort order is ASC by default.
          VendorRef:
            type: object
            description: Reference to the vendor for this transaction. Query the Vendor name list resource to determine the appropriate Vendor object for this reference. Use Vendor.Id and Vendor.Name from that object for VendorRef.value and VendorRef.name, respectively.
            properties:
              value:
                type: string 
                description: The ID for the referenced object as found in the Id field of the object payload. The context is set by the type of reference and is specific to the QuickBooks company file.
              name:
                type: string 
                description: An identifying name for the object being referenced by value and is derived from the field that holds the common name of that object. This varies by context and specific type of object referenced. For example, references to a Customer object use Customer.DisplayName to populate this field. Optionally returned in responses, implementation dependent.
          Line [0..n]:
            type: object
            description: "Individual line items of a transaction. Valid Line types include: ItemBasedExpenseLine and AccountBasedExpenseLine"
            properties:
              ItemBasedExpenseLine:
                type: object
                description: ""
                properties:
                  Id:
                    type: string 
                    description: "The Id of the line item. Its use in requests is as folllows: If Idis greater than zero and exists for the company, the request is considered an update operation for a line item. If no Idis provided, the Idprovided is less than or equal to zero, or the Idprovided is greater than zero and does not exist for the company then the request is considered a create operation for a line item. Available in all objects that use lines and support the update operation."
                  ItemBasedExpenseLineDetail:
                    type: object
                    description: ""
                    properties:
                      TaxInclusiveAmt:
                        type: number
                        description: "The total amount of the line item including tax. Constraints: Available when endpoint is evoked with the minorversion=1query parameter."
                      ItemRef:
                        type: object
                        description: "Reference to the Item. Query the Item name list resource to determine the appropriate Item object for this reference. Use Item.Id and Item.Name from that object for ItemRef.value and ItemRef.name, respectively. When a line lacks an ItemRef it is treated as documentation and the Line.Amount attribute is ignored. For France locales: The account associated with the referenced Item object is looked up in the account category list."
                        properties:
                          value:
                            type: string
[...]
