openapi: 3.0.1
info:
  title: BetterCommerce API 
  version: v2
  contact:
    name:  BetterCommerce APi  
    url: https://api20.bettercommerce.io/swagger/ui/index
servers:
- url: https://api20.bettercommerce.io/
paths:
  /api/v2/commerce/address/{customerId}:
    get:
      tags:
      - Address
      summary: Get complete customer address book
      operationId: AddressGetAll
      parameters:
      - name: customerId
        in: path
        description: (Guid) Customer/User id
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModelListResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: ""
                messageCode: ""
                result:
                - customerId: 2ecee944-dd70-458c-83bb-0c04b1d4b79d
                  isDefault: false
                  isDefaultDelivery: false
                  isDefaultForSubscription: false
                  isDefaultBilling: false
                  id: 0
                  title: Mr.
                  firstName: David
                  lastName: Smith
                  address1: Address Line 1
                  address2: Address Line 2
                  address3: Address Line 3
                  city: London
                  state: London
                  country: United Kingdom
                  countryCode: UK
                  postCode: XX55YY
                  phoneNo: "9999999999"
                  mobileNo: "888888888"
                  companyName: My Company
                - customerId: 257573c4-1f36-440a-a95d-c18bb6667467
                  isDefault: false
                  isDefaultDelivery: false
                  isDefaultForSubscription: false
                  isDefaultBilling: false
                  id: 0
                  title: Mr.
                  firstName: Mariya
                  lastName: John
                  address1: Add Line 1
                  address2: Line 2
                  address3: Line 3
                  city: London
                  state: London
                  country: United Kingdom
                  countryCode: UK
                  postCode: XX55YY
                  phoneNo: "9999999999"
                  mobileNo: "888888888"
                  companyName: My Company
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModelListResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModelListResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModelListResponseModel'
  /api/v2/commerce/address/{customerId}/{id}:
    get:
      tags:
      - Address
      summary: Get a specific address record
      operationId: AddressGetById
      parameters:
      - name: customerId
        in: path
        description: (Guid) Customer/User id
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: (Numeric) address id
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModelResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: ""
                messageCode: ""
                result:
                  customerId: 9de93f29-626a-4b68-83e2-2e75b180bba6
                  isDefault: false
                  isDefaultDelivery: false
                  isDefaultForSubscription: false
                  isDefaultBilling: false
                  id: 0
                  title: Mr.
                  firstName: David
                  lastName: Smith
                  address1: Address Line 1
                  address2: Address Line 2
                  address3: Address Line 3
                  city: London
                  state: London
                  country: United Kingdom
                  countryCode: UK
                  postCode: XX55YY
                  phoneNo: "9999999999"
                  mobileNo: "888888888"
                  companyName: My Company
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModelResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModelResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModelResponseModel'
  /api/v2/commerce/address/create:
    post:
      tags:
      - Address
      summary: Create new address
      operationId: AddressCreate
      requestBody:
        description: Address model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModel'
        required: true
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: Success
                messageCode: "1000"
                result:
                  recordId: 00000000-0000-0000-0000-000000000000
                  id: 0
                  isValid: false
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
      x-codegen-request-body-name: address
  /api/v2/commerce/address/{id}/update:
    put:
      tags:
      - Address
      summary: Update an address
      operationId: AddressUpdate
      parameters:
      - name: id
        in: path
        description: (Numeric) Address Id
        required: true
        schema:
          type: string
      requestBody:
        description: Updated address model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.AddressModel'
        required: true
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: Success
                messageCode: "1000"
                result:
                  recordId: 00000000-0000-0000-0000-000000000000
                  id: 0
                  isValid: false
            text/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
      x-codegen-request-body-name: address
  /api/v2/commerce/address/{customerId}/{id}/delete:
    delete:
      tags:
      - Address
      summary: Delete an address
      operationId: AddressDelete
      parameters:
      - name: customerId
        in: path
        description: (Guid) Customer/user id who is the owner of the address to be
          deleted. This is required to ensure data integrity.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: (Numeric) addressId to be deleted.
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
  /api/v2/commerce/address/{customerId}/{id}/setdefault:
    put:
      tags:
      - Address
      summary: Set the default billing/delivery address for Standard or Subscription
        order.
      operationId: AddressChangeDefault
      parameters:
      - name: customerId
        in: path
        description: Customer / UserId for whom the address is to be updated
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: (Numeric) Id of the address
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: 1=Standard Basket Billing Address, 2=Subscription Basket Address
        schema:
          type: integer
          format: int32
      - name: isDefaultBilling
        in: query
        description: True if this address to be set as default billing address, else
          false
        schema:
          type: boolean
      - name: isDefaultDelivery
        in: query
        description: True if this address to be set as default delivery address, else
          false
        schema:
          type: boolean
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
  /api/v2/commerce/address/{customerId}/removedefault:
    put:
      tags:
      - Address
      summary: Remove all the 'defaults' from address for a customerId.
      operationId: AddressNoDefault
      parameters:
      - name: customerId
        in: path
        description: Customer / UserId for whom the address is to be updated
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
  /api/v2/commerce/b2b/{userId}/quotes:
    get:
      tags:
      - B2B
      summary: Get list of quotes
      operationId: B2BGetUserQuotes
      parameters:
      - name: userId
        in: path
        description: UserId
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.SiteBasket.QuoteInfoListResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                result:
                - id: 00000000-0000-0000-0000-000000000000
                  quoteId: 00000000-0000-0000-0000-000000000000
                  companyId: 00000000-0000-0000-0000-000000000000
                  companyName: Company Name
                  quoteName: My Quote
                  contactId: 00000000-0000-0000-0000-000000000000
                  purchaseOrderNo: PO00001
                  validUntil: 0001-01-01T00:00:00
                  validDays: 3
                  status: 1
                  customQuoteNo: JAN2022
                  shippingMethodCode: STD
                  shippingMethodName: Standerd
                  shippingCost: 10.99
                  email: myemail@example.com
                  customerId: a31116d8-1174-4995-8256-9f0c4c42b7c8
                  shippingAddress:
                    addressType: 0
                    userId: 00000000-0000-0000-0000-000000000000
                    title: Mr.
                    firstName: David
                    lastName: Smith
                    address1: Address Line 1
                    address2: Address Line 2
                    address3: Address Line 3
                    city: London
                    state: London
                    country: United Kingdom
                    countryCode: UK
                    postCode: XX55YY
                    phoneNo: "9999999999"
                    isDefaultDelivery: false
                    isDefaultBilling: false
                    isDefault: false
                    isDefaultForSubscription: false
                    companyName: My Company
                    id: 0
                    recordId: 00000000-0000-0000-0000-000000000000
                    orgId: 00000000-0000-0000-0000-000000000000
                    branchId: 00000000-0000-0000-0000-000000000000
                    domainId: 00000000-0000-0000-0000-000000000000
                    totalRecord: 0
                    currentPage: 1
                    pageSize: 0
                  billingAddress:
                    addressType: 0
                    userId: 00000000-0000-0000-0000-000000000000
                    title: Mr.
                    firstName: David
                    lastName: Smith
                    address1: Address Line 1
                    address2: Address Line 2
                    address3: Address Line 3
                    city: London
                    state: London
                    country: United Kingdom
                    countryCode: UK
                    postCode: XX55YY
                    phoneNo: "9999999999"
                    isDefaultDelivery: false
                    isDefaultBilling: false
                    isDefault: false
                    isDefaultForSubscription: false
                    companyName: My Company
                    id: 0
                    recordId: 00000000-0000-0000-0000-000000000000
                    orgId: 00000000-0000-0000-0000-000000000000
                    branchId: 00000000-0000-0000-0000-000000000000
                    domainId: 00000000-0000-0000-0000-000000000000
                    totalRecord: 0
                    currentPage: 1
                    pageSize: 0
                  userName: myemail@example.com
                  createdByAdmin: false
                  orderNo: 100001
                  orderId: 00000000-0000-0000-0000-000000000000
                  orderStatus: 1
                  isQuoteExpired: false
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.SiteBasket.QuoteInfoListResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.SiteBasket.QuoteInfoListResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.SiteBasket.QuoteInfoListResponseModel'
  /api/v2/commerce/b2b/companies:
    get:
      tags:
      - B2B
      summary: Get list of companies
      operationId: B2BGetCompanies
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.B2b.CompanyNameListResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.B2b.CompanyNameListResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.B2b.CompanyNameListResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.B2b.CompanyNameListResponseModel'
  /api/v2/commerce/b2b/{companyId}/users:
    get:
      tags:
      - B2B
      summary: Get all users linked to a company
      operationId: B2BGetLinkedUsers
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Omnicx.Entities.B2b.CompanyUser'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Omnicx.Entities.B2b.CompanyUser'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Omnicx.Entities.B2b.CompanyUser'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Omnicx.Entities.B2b.CompanyUser'
  /api/v2/commerce/b2b/{userId}/company:
    get:
      tags:
      - B2B
      summary: Get the company details by UserId
      operationId: B2BGetCompanyDetailByUserId
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.B2B.CompanyModelResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.B2B.CompanyModelResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.B2B.CompanyModelResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.B2B.CompanyModelResponseModel'
  /api/v2/commerce/b2b/quote/save:
    post:
      tags:
      - B2B
      operationId: SaveQuote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.QuoteModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.QuoteModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.QuoteModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.QuoteModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.QuoteModel'
        required: true
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.Common.BoolResponseResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.Common.BoolResponseResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.Common.BoolResponseResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.Entities.Common.BoolResponseResponseModel'
      x-codegen-request-body-name: quote
  /api/v2/commerce/b2b/create:
    post:
      tags:
      - B2B
      operationId: CustomerRegister
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.CompanyCustomerCreateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.CompanyCustomerCreateModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.CompanyCustomerCreateModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.CompanyCustomerCreateModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.CompanyCustomerCreateModel'
        required: true
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
      x-codegen-request-body-name: value
  /api/v2/commerce/b2b/{id}/update:
    put:
      tags:
      - B2B
      operationId: CustomerUpdate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.CompanyCustomerCreateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.CompanyCustomerCreateModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.CompanyCustomerCreateModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.CompanyCustomerCreateModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.CompanyCustomerCreateModel'
        required: true
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
      x-codegen-request-body-name: value
  /api/v2/commerce/basket/{id}:
    get:
      tags:
      - Basket
      summary: Get basket based on id
      operationId: BasketGetById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModelWithSnippets'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: ""
                messageCode: ""
                result:
                  id: d167b38a-cd08-4b85-8760-bc8cc9a34e0e
                  currencySymbol: €
                  currencyCode: EUR
                  userId: cd05a0d7-18a8-463f-b9a1-84e063d6ebb7
                  userEmail: myemail@example.com
                  grandTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €99.99000
                      withoutTax: €99.99000
                      tax: €.00000
                    raw:
                      withTax: 99.99
                      withoutTax: 99.99
                      tax: 0
                  totalWithoutShipping:
                    currencySymbol: €
                    formatted:
                      withTax: €96.00000
                      withoutTax: €96.00000
                      tax: €.00000
                    raw:
                      withTax: 96
                      withoutTax: 96
                      tax: 0
                  shippingMethodId: STD
                  shippingCharge:
                    currencySymbol: €
                    formatted:
                      withTax: €3.99000
                      withoutTax: €3.99000
                      tax: €.00000
                    raw:
                      withTax: 3.99
                      withoutTax: 3.99
                      tax: 0
                  subTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €99.99000
                      withoutTax: €99.99000
                      tax: €.00000
                    raw:
                      withTax: 99.99
                      withoutTax: 99.99
                      tax: 0
                  discount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  taxPercent: 0
                  additionalCharge:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  lineItems:
                  - id: "0"
                    stockCode: SKU-0001
                    name: Polo Shirt
                    productId: 1C5D16AB-0497-462D-A0D2-B2F8F67335A1
                    productIid: "0"
                    parentProductId: ""
                    brand: Tommy Hilfiger
                    subbrand: Tommy Hilfiger
                    price:
                      currencySymbol: €
                      formatted:
                        withTax: €24.00000
                        withoutTax: €24.00000
                        tax: €.00000
                      raw:
                        withTax: 24
                        withoutTax: 24
                        tax: 0
                    subTotal:
                      currencySymbol: €
                      formatted:
                        withTax: €96.00000
                        withoutTax: €96.00000
                        tax: €.00000
                      raw:
                        withTax: 96
                        withoutTax: 96
                        tax: 0
                    totalPrice:
                      currencySymbol: €
                      formatted:
                        withTax: €96.00000
                        withoutTax: €96.00000
                        tax: €.00000
                      raw:
                        withTax: 96
                        withoutTax: 96
                        tax: 0
                    image: image1.jeg
                    qty: 4
                    displayOrder: 1
                    slug: /product/SKU-0001
                    itemType: 1
                    displayInBasket: false
                    categoryItems:
                    - categoryId: 8be85b27-d2a6-406d-93ea-65ed61337b61
                      categoryName: Shirt
                      parentCategoryId: b5473901-631d-475a-915b-7e2969f666b2
                      parentCategoryName: Clothings
                    attributesJson: ""
                    customInfo1: cust info 1
                    customInfo2: cust info 2
                    customInfo3: cust info 3
                    customInfo4: cust info 4
                    customInfo5: cust info 5
                    discount:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    additionalCharge:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    shortDescription: Polo Shirt Description
                    companyDiscount:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    listPrice:
                      currencySymbol: €
                      formatted:
                        withTax: €24.00000
                        withoutTax: €24.00000
                        tax: €.00000
                      raw:
                        withTax: 24
                        withoutTax: 24
                        tax: 0
                    isSubscription: false
                    isMembership: false
                    subscriptionUserSettings:
                      subscriptionPlanId: 00000000-0000-0000-0000-000000000000
                      subscriptionTermId: 00000000-0000-0000-0000-000000000000
                      userPricingType: 0
                      authorizationAmount: 0
                    promotionsApplied:
                    - voucherCode: DISCOUNT15
                      discountPct: 0
                      discountAmt:
                        minPrice: 0
                        minPriceWithoutTax: 0
                        maxPrice: 0
                        maxPriceWithoutTax: 0
                        currencyDecimalSeparator: "."
                        currencyDigitsAfterDecimal: 2
                        currencySymbol: €
                        formatted:
                          withTax: €.00000
                          withoutTax: €.00000
                          tax: €.00000
                        raw:
                          withTax: 0
                          withoutTax: 0
                          tax: 0
                      autoApply: false
                      promoCode: DISCOUNT15
                      name: Dummy Promo
                    isGiftWrapApplied: false
                    giftWrapId: 00000000-0000-0000-0000-000000000000
                    itemGroupId: 0
                    couponProvider: ""
                    isManualPrice: false
                    priceMatchReqId: 00000000-0000-0000-0000-000000000000
                    deliveryMessage: ' delivery message'
                    variantProducts:
                    - productId: 00000000-0000-0000-0000-000000000000
                      price:
                        minPrice: 0
                        minPriceWithoutTax: 0
                        maxPrice: 0
                        maxPriceWithoutTax: 0
                        currencyDecimalSeparator: "."
                        currencyDigitsAfterDecimal: 2
                        currencySymbol: €
                        formatted:
                          withTax: €15.99000
                          withoutTax: €15.99000
                          tax: €.00000
                        raw:
                          withTax: 15.99
                          withoutTax: 15.99
                          tax: 0
                      image: img.jpg
                      productName: Variant SKU
                      variantAttributes: []
                    variantProductsAttribute:
                    - fieldName: color
                      fieldCode: global.color
                      fieldValues: []
                    currentStock: 999
                  promotionsApplied:
                  - discountPct: 0
                    autoApply: false
                  shippingMethods:
                  - id: 00000000-0000-0000-0000-000000000000
                    enabled: false
                    displayOrder: 0
                    expectedDaysToDeliver: 0
                    expectedDeliveryDate: 0001-01-01T00:00:00
                    price:
                      currencySymbol: £
                      formatted:
                        withTax: £0.00
                        withoutTax: £0.00
                        tax: £0.00
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    isDefault: false
                    isNominated: false
                    type: 0
                    isPriceOnRequest: false
                    showRecomendation: false
                    isTaxable: false
                    shippingCostMethod: 0
                  created: 0001-01-01T00:00:00
                  lastUpdated: 0001-01-01T00:00:00
                  isQuote: false
                  quoteStatus: 0
                  customInfo1: cust info 1
                  customInfo2: cust info 2
                  customInfo3: cust info 3
                  customInfo4: cust info 4
                  customInfo5: cust info 5
                  shippingAddress:
                    id: 0
                    title: Mr.
                    firstName: FName
                    lastName: LName
                    address1: Address Line 1
                    address2: Address Line 2
                    address3: Address Line 3
                    city: London
                    state: London
                    country: United Kingdom
                    countryCode: UK
                    phoneNo: "9999999999"
                    companyName: My Company
                  billingAddress:
                    id: 0
                    title: Mr.
                    firstName: FName
                    lastName: LName
                    address1: Address Line 1
                    address2: Address Line 2
                    address3: Address Line 3
                    city: London
                    state: London
                    country: United Kingdom
                    countryCode: UK
                    phoneNo: "9999999999"
                    companyName: My Company
                  postCode: XX55YY
                  maxDimensionMm: 0
                  companyDiscount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  validUntil: 0001-01-01T00:00:00
                  isLocked: false
                  createdByAdmin: false
                  poNumber: PO00001
                  deliveryInstruction: Please read the give instructions
                  deliveryPlans:
                  - fulfilmentChannel: 0
                    deliveryType: 0
                    deliveryCenter:
                      recordId: 00000000-0000-0000-0000-000000000000
                      type: 0
                    items: []
                    shippingMethodId: 00000000-0000-0000-0000-000000000000
                    cost: 0
                    shippingSpeed: ' - '
                    deliveryDateTarget: 2022-06-30T10:59:09.5982935Z
                    deliveryDateActual: 0001-01-01T00:00:00
                    leadTime: 0
                    leadTimeUom: 0
                    leadTimeMin: 0
                    leadTimeMax: 0
                    pickupStoreId: 00000000-0000-0000-0000-000000000000
                    shippingType: 0
                    recordId: 00000000-0000-0000-0000-000000000000
                  hasSubscription: false
                  subscriptionTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  isGiftWrapApplied: false
                  giftWrapId: 00000000-0000-0000-0000-000000000000
                  membershipPlanId: 00000000-0000-0000-0000-000000000000
                  hasMembership: false
                  exchangeRate: 1
                  baseCurrency: EUR
                  microSiteId: 00000000-0000-0000-0000-000000000000
                  baseCurrencyTotal: 99.99
                  membershipDiscount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                snippets: []
                slugType: 1
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModelWithSnippets'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModelWithSnippets'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModelWithSnippets'
  /api/v2/commerce/basket/{id}/campaign:
    put:
      tags:
      - Basket
      summary: Update campaign code for basket
      operationId: BasketUpdateCampaign
      parameters:
      - name: id
        in: path
        description: basketId
        required: true
        schema:
          type: string
      - name: campaignCode
        in: query
        description: campaign code
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: ""
                messageCode: ""
                result:
                  customerId: 38eaecfe-123e-46ee-9c0f-d0f3f360aa91
                  isDefault: false
                  isDefaultDelivery: false
                  isDefaultForSubscription: false
                  isDefaultBilling: false
                  id: 0
                  title: Mr.
                  firstName: David
                  lastName: Smith
                  address1: Address Line 1
                  address2: Address Line 2
                  address3: Address Line 3
                  city: London
                  state: London
                  country: United Kingdom
                  countryCode: UK
                  postCode: XX55YY
                  phoneNo: "9999999999"
                  mobileNo: "888888888"
                  companyName: My Company
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
  /api/v2/commerce/basket/{id}/custom-info:
    put:
      tags:
      - Basket
      summary: Update custom info fields for basket
      operationId: BasketUpdateCustomInfo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Omnicx.Entities.Common.HeaderCustomInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/Omnicx.Entities.Common.HeaderCustomInfo'
          application/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.Entities.Common.HeaderCustomInfo'
          text/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.Entities.Common.HeaderCustomInfo'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Omnicx.Entities.Common.HeaderCustomInfo'
        required: true
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: ""
                messageCode: ""
                result:
                  id: 14e4199b-f272-4106-9ce0-555fa3c0ef52
                  currencySymbol: €
                  currencyCode: EUR
                  userId: dbb74991-e996-49da-9dcd-750a214930f1
                  userEmail: myemail@example.com
                  grandTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €99.99000
                      withoutTax: €99.99000
                      tax: €.00000
                    raw:
                      withTax: 99.99
                      withoutTax: 99.99
                      tax: 0
                  totalWithoutShipping:
                    currencySymbol: €
                    formatted:
                      withTax: €96.00000
                      withoutTax: €96.00000
                      tax: €.00000
                    raw:
                      withTax: 96
                      withoutTax: 96
                      tax: 0
                  shippingMethodId: STD
                  shippingCharge:
                    currencySymbol: €
                    formatted:
                      withTax: €3.99000
                      withoutTax: €3.99000
                      tax: €.00000
                    raw:
                      withTax: 3.99
                      withoutTax: 3.99
                      tax: 0
                  subTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €99.99000
                      withoutTax: €99.99000
                      tax: €.00000
                    raw:
                      withTax: 99.99
                      withoutTax: 99.99
                      tax: 0
                  discount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  taxPercent: 0
                  additionalCharge:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  lineItems:
                  - id: "0"
                    stockCode: SKU-0001
                    name: Polo Shirt
                    productId: 1C5D16AB-0497-462D-A0D2-B2F8F67335A1
                    productIid: "0"
                    parentProductId: ""
                    brand: Tommy Hilfiger
                    subbrand: Tommy Hilfiger
                    price:
                      currencySymbol: €
                      formatted:
                        withTax: €24.00000
                        withoutTax: €24.00000
                        tax: €.00000
                      raw:
                        withTax: 24
                        withoutTax: 24
                        tax: 0
                    subTotal:
                      currencySymbol: €
                      formatted:
                        withTax: €96.00000
                        withoutTax: €96.00000
                        tax: €.00000
                      raw:
                        withTax: 96
                        withoutTax: 96
                        tax: 0
                    totalPrice:
                      currencySymbol: €
                      formatted:
                        withTax: €96.00000
                        withoutTax: €96.00000
                        tax: €.00000
                      raw:
                        withTax: 96
                        withoutTax: 96
                        tax: 0
                    image: image1.jeg
                    qty: 4
                    displayOrder: 1
                    slug: /product/SKU-0001
                    itemType: 1
                    displayInBasket: false
                    categoryItems:
                    - categoryId: e705691d-efd3-4f24-99ee-cf9812be25d0
                      categoryName: Shirt
                      parentCategoryId: 635a0c31-f397-4343-85d0-dbcbfd3bf2fc
                      parentCategoryName: Clothings
                    attributesJson: ""
                    customInfo1: cust info 1
                    customInfo2: cust info 2
                    customInfo3: cust info 3
                    customInfo4: cust info 4
                    customInfo5: cust info 5
                    discount:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    additionalCharge:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    shortDescription: Polo Shirt Description
                    companyDiscount:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    listPrice:
                      currencySymbol: €
                      formatted:
                        withTax: €24.00000
                        withoutTax: €24.00000
                        tax: €.00000
                      raw:
                        withTax: 24
                        withoutTax: 24
                        tax: 0
                    isSubscription: false
                    isMembership: false
                    subscriptionUserSettings:
                      subscriptionPlanId: 00000000-0000-0000-0000-000000000000
                      subscriptionTermId: 00000000-0000-0000-0000-000000000000
                      userPricingType: 0
                      authorizationAmount: 0
                    promotionsApplied:
                    - voucherCode: DISCOUNT15
                      discountPct: 0
                      discountAmt:
                        minPrice: 0
                        minPriceWithoutTax: 0
                        maxPrice: 0
                        maxPriceWithoutTax: 0
                        currencyDecimalSeparator: "."
                        currencyDigitsAfterDecimal: 2
                        currencySymbol: €
                        formatted:
                          withTax: €.00000
                          withoutTax: €.00000
                          tax: €.00000
                        raw:
                          withTax: 0
                          withoutTax: 0
                          tax: 0
                      autoApply: false
                      promoCode: DISCOUNT15
                      name: Dummy Promo
                    isGiftWrapApplied: false
                    giftWrapId: 00000000-0000-0000-0000-000000000000
                    itemGroupId: 0
                    couponProvider: ""
                    isManualPrice: false
                    priceMatchReqId: 00000000-0000-0000-0000-000000000000
                    deliveryMessage: ' delivery message'
                    variantProducts:
                    - productId: 00000000-0000-0000-0000-000000000000
                      price:
                        minPrice: 0
                        minPriceWithoutTax: 0
                        maxPrice: 0
                        maxPriceWithoutTax: 0
                        currencyDecimalSeparator: "."
                        currencyDigitsAfterDecimal: 2
                        currencySymbol: €
                        formatted:
                          withTax: €15.99000
                          withoutTax: €15.99000
                          tax: €.00000
                        raw:
                          withTax: 15.99
                          withoutTax: 15.99
                          tax: 0
                      image: img.jpg
                      productName: Variant SKU
                      variantAttributes: []
                    variantProductsAttribute:
                    - fieldName: color
                      fieldCode: global.color
                      fieldValues: []
                    currentStock: 999
                  promotionsApplied:
                  - discountPct: 0
                    autoApply: false
                  shippingMethods:
                  - id: 00000000-0000-0000-0000-000000000000
                    enabled: false
                    displayOrder: 0
                    expectedDaysToDeliver: 0
                    expectedDeliveryDate: 0001-01-01T00:00:00
                    price:
                      currencySymbol: £
                      formatted:
                        withTax: £0.00
                        withoutTax: £0.00
                        tax: £0.00
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    isDefault: false
                    isNominated: false
                    type: 0
                    isPriceOnRequest: false
                    showRecomendation: false
                    isTaxable: false
                    shippingCostMethod: 0
                  created: 0001-01-01T00:00:00
                  lastUpdated: 0001-01-01T00:00:00
                  isQuote: false
                  quoteStatus: 0
                  customInfo1: cust info 1
                  customInfo2: cust info 2
                  customInfo3: cust info 3
                  customInfo4: cust info 4
                  customInfo5: cust info 5
                  shippingAddress:
                    id: 0
                    title: Mr.
                    firstName: FName
                    lastName: LName
                    address1: Address Line 1
                    address2: Address Line 2
                    address3: Address Line 3
                    city: London
                    state: London
                    country: United Kingdom
                    countryCode: UK
                    phoneNo: "9999999999"
                    companyName: My Company
                  billingAddress:
                    id: 0
                    title: Mr.
                    firstName: FName
                    lastName: LName
                    address1: Address Line 1
                    address2: Address Line 2
                    address3: Address Line 3
                    city: London
                    state: London
                    country: United Kingdom
                    countryCode: UK
                    phoneNo: "9999999999"
                    companyName: My Company
                  postCode: XX55YY
                  maxDimensionMm: 0
                  companyDiscount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  validUntil: 0001-01-01T00:00:00
                  isLocked: false
                  createdByAdmin: false
                  poNumber: PO00001
                  deliveryInstruction: Please read the give instructions
                  deliveryPlans:
                  - fulfilmentChannel: 0
                    deliveryType: 0
                    deliveryCenter:
                      recordId: 00000000-0000-0000-0000-000000000000
                      type: 0
                    items: []
                    shippingMethodId: 00000000-0000-0000-0000-000000000000
                    cost: 0
                    shippingSpeed: ' - '
                    deliveryDateTarget: 2022-06-30T10:59:09.6139189Z
                    deliveryDateActual: 0001-01-01T00:00:00
                    leadTime: 0
                    leadTimeUom: 0
                    leadTimeMin: 0
                    leadTimeMax: 0
                    pickupStoreId: 00000000-0000-0000-0000-000000000000
                    shippingType: 0
                    recordId: 00000000-0000-0000-0000-000000000000
                  hasSubscription: false
                  subscriptionTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  isGiftWrapApplied: false
                  giftWrapId: 00000000-0000-0000-0000-000000000000
                  membershipPlanId: 00000000-0000-0000-0000-000000000000
                  hasMembership: false
                  exchangeRate: 1
                  baseCurrency: EUR
                  microSiteId: 00000000-0000-0000-0000-000000000000
                  baseCurrencyTotal: 99.99
                  membershipDiscount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
      x-codegen-request-body-name: info
  /api/v2/commerce/basket/{id}/subscription/{productId}:
    put:
      tags:
      - Basket
      summary: Update item specific subscription info
      operationId: BasketUpdateSubscriptionInfo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: productId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Omnicx.Entities.Subscription.SubscriptionUserSetting'
          text/json:
            schema:
              $ref: '#/components/schemas/Omnicx.Entities.Subscription.SubscriptionUserSetting'
          application/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.Entities.Subscription.SubscriptionUserSetting'
          text/xml:
            schema:
              $ref: '#/components/schemas/Omnicx.Entities.Subscription.SubscriptionUserSetting'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Omnicx.Entities.Subscription.SubscriptionUserSetting'
        required: true
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: ""
                messageCode: ""
                result:
                  id: 9c14b896-6137-4f1a-8e9c-941654e71137
                  currencySymbol: €
                  currencyCode: EUR
                  userId: 404fa0e4-89b6-4aa5-a639-94f6beca54bc
                  userEmail: myemail@example.com
                  grandTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €99.99000
                      withoutTax: €99.99000
                      tax: €.00000
                    raw:
                      withTax: 99.99
                      withoutTax: 99.99
                      tax: 0
                  totalWithoutShipping:
                    currencySymbol: €
                    formatted:
                      withTax: €96.00000
                      withoutTax: €96.00000
                      tax: €.00000
                    raw:
                      withTax: 96
                      withoutTax: 96
                      tax: 0
                  shippingMethodId: STD
                  shippingCharge:
                    currencySymbol: €
                    formatted:
                      withTax: €3.99000
                      withoutTax: €3.99000
                      tax: €.00000
                    raw:
                      withTax: 3.99
                      withoutTax: 3.99
                      tax: 0
                  subTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €99.99000
                      withoutTax: €99.99000
                      tax: €.00000
                    raw:
                      withTax: 99.99
                      withoutTax: 99.99
                      tax: 0
                  discount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  taxPercent: 0
                  additionalCharge:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  lineItems:
                  - id: "0"
                    stockCode: SKU-0001
                    name: Polo Shirt
                    productId: 1C5D16AB-0497-462D-A0D2-B2F8F67335A1
                    productIid: "0"
                    parentProductId: ""
                    brand: Tommy Hilfiger
                    subbrand: Tommy Hilfiger
                    price:
                      currencySymbol: €
                      formatted:
                        withTax: €24.00000
                        withoutTax: €24.00000
                        tax: €.00000
                      raw:
                        withTax: 24
                        withoutTax: 24
                        tax: 0
                    subTotal:
                      currencySymbol: €
                      formatted:
                        withTax: €96.00000
                        withoutTax: €96.00000
                        tax: €.00000
                      raw:
                        withTax: 96
                        withoutTax: 96
                        tax: 0
                    totalPrice:
                      currencySymbol: €
                      formatted:
                        withTax: €96.00000
                        withoutTax: €96.00000
                        tax: €.00000
                      raw:
                        withTax: 96
                        withoutTax: 96
                        tax: 0
                    image: image1.jeg
                    qty: 4
                    displayOrder: 1
                    slug: /product/SKU-0001
                    itemType: 1
                    displayInBasket: false
                    categoryItems:
                    - categoryId: ee9823ea-b591-4ee7-9e09-158552e30010
                      categoryName: Shirt
                      parentCategoryId: 42c55f0e-8ff4-4fec-9164-f1d771361d7e
                      parentCategoryName: Clothings
                    attributesJson: ""
                    customInfo1: cust info 1
                    customInfo2: cust info 2
                    customInfo3: cust info 3
                    customInfo4: cust info 4
                    customInfo5: cust info 5
                    discount:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    additionalCharge:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    shortDescription: Polo Shirt Description
                    companyDiscount:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    listPrice:
                      currencySymbol: €
                      formatted:
                        withTax: €24.00000
                        withoutTax: €24.00000
                        tax: €.00000
                      raw:
                        withTax: 24
                        withoutTax: 24
                        tax: 0
                    isSubscription: false
                    isMembership: false
                    subscriptionUserSettings:
                      subscriptionPlanId: 00000000-0000-0000-0000-000000000000
                      subscriptionTermId: 00000000-0000-0000-0000-000000000000
                      userPricingType: 0
                      authorizationAmount: 0
                    promotionsApplied:
                    - voucherCode: DISCOUNT15
                      discountPct: 0
                      discountAmt:
                        minPrice: 0
                        minPriceWithoutTax: 0
                        maxPrice: 0
                        maxPriceWithoutTax: 0
                        currencyDecimalSeparator: "."
                        currencyDigitsAfterDecimal: 2
                        currencySymbol: €
                        formatted:
                          withTax: €.00000
                          withoutTax: €.00000
                          tax: €.00000
                        raw:
                          withTax: 0
                          withoutTax: 0
                          tax: 0
                      autoApply: false
                      promoCode: DISCOUNT15
                      name: Dummy Promo
                    isGiftWrapApplied: false
                    giftWrapId: 00000000-0000-0000-0000-000000000000
                    itemGroupId: 0
                    couponProvider: ""
                    isManualPrice: false
                    priceMatchReqId: 00000000-0000-0000-0000-000000000000
                    deliveryMessage: ' delivery message'
                    variantProducts:
                    - productId: 00000000-0000-0000-0000-000000000000
                      price:
                        minPrice: 0
                        minPriceWithoutTax: 0
                        maxPrice: 0
                        maxPriceWithoutTax: 0
                        currencyDecimalSeparator: "."
                        currencyDigitsAfterDecimal: 2
                        currencySymbol: €
                        formatted:
                          withTax: €15.99000
                          withoutTax: €15.99000
                          tax: €.00000
                        raw:
                          withTax: 15.99
                          withoutTax: 15.99
                          tax: 0
                      image: img.jpg
                      productName: Variant SKU
                      variantAttributes: []
                    variantProductsAttribute:
                    - fieldName: color
                      fieldCode: global.color
                      fieldValues: []
                    currentStock: 999
                  promotionsApplied:
                  - discountPct: 0
                    autoApply: false
                  shippingMethods:
                  - id: 00000000-0000-0000-0000-000000000000
                    enabled: false
                    displayOrder: 0
                    expectedDaysToDeliver: 0
                    expectedDeliveryDate: 0001-01-01T00:00:00
                    price:
                      currencySymbol: £
                      formatted:
                        withTax: £0.00
                        withoutTax: £0.00
                        tax: £0.00
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    isDefault: false
                    isNominated: false
                    type: 0
                    isPriceOnRequest: false
                    showRecomendation: false
                    isTaxable: false
                    shippingCostMethod: 0
                  created: 0001-01-01T00:00:00
                  lastUpdated: 0001-01-01T00:00:00
                  isQuote: false
                  quoteStatus: 0
                  customInfo1: cust info 1
                  customInfo2: cust info 2
                  customInfo3: cust info 3
                  customInfo4: cust info 4
                  customInfo5: cust info 5
                  shippingAddress:
                    id: 0
                    title: Mr.
                    firstName: FName
                    lastName: LName
                    address1: Address Line 1
                    address2: Address Line 2
                    address3: Address Line 3
                    city: London
                    state: London
                    country: United Kingdom
                    countryCode: UK
                    phoneNo: "9999999999"
                    companyName: My Company
                  billingAddress:
                    id: 0
                    title: Mr.
                    firstName: FName
                    lastName: LName
                    address1: Address Line 1
                    address2: Address Line 2
                    address3: Address Line 3
                    city: London
                    state: London
                    country: United Kingdom
                    countryCode: UK
                    phoneNo: "9999999999"
                    companyName: My Company
                  postCode: XX55YY
                  maxDimensionMm: 0
                  companyDiscount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  validUntil: 0001-01-01T00:00:00
                  isLocked: false
                  createdByAdmin: false
                  poNumber: PO00001
                  deliveryInstruction: Please read the give instructions
                  deliveryPlans:
                  - fulfilmentChannel: 0
                    deliveryType: 0
                    deliveryCenter:
                      recordId: 00000000-0000-0000-0000-000000000000
                      type: 0
                    items: []
                    shippingMethodId: 00000000-0000-0000-0000-000000000000
                    cost: 0
                    shippingSpeed: ' - '
                    deliveryDateTarget: 2022-06-30T10:59:09.6139189Z
                    deliveryDateActual: 0001-01-01T00:00:00
                    leadTime: 0
                    leadTimeUom: 0
                    leadTimeMin: 0
                    leadTimeMax: 0
                    pickupStoreId: 00000000-0000-0000-0000-000000000000
                    shippingType: 0
                    recordId: 00000000-0000-0000-0000-000000000000
                  hasSubscription: false
                  subscriptionTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  isGiftWrapApplied: false
                  giftWrapId: 00000000-0000-0000-0000-000000000000
                  membershipPlanId: 00000000-0000-0000-0000-000000000000
                  hasMembership: false
                  exchangeRate: 1
                  baseCurrency: EUR
                  microSiteId: 00000000-0000-0000-0000-000000000000
                  baseCurrencyTotal: 99.99
                  membershipDiscount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
      x-codegen-request-body-name: userSetting
  /api/v2/commerce/basket/{id}/delete:
    delete:
      tags:
      - Basket
      summary: Delete basket
      operationId: BasketDelete
      parameters:
      - name: basketId
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.BooleanResponseModel'
  /api/v2/commerce/basket/{id}/related-products:
    get:
      tags:
      - Basket
      summary: Get related products based on items in basket.
      operationId: BasketGetRelatedProducts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Catalog.ProductModelIListResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: ""
                messageCode: ""
                result:
                - isFeatured: false
                  uomValue: 0
                  displayOrder: 0
                  isDiscontinued: false
                  componentsInStock: false
                  subscriptionEnabled: false
                  itemType: 0
                  subscriptionPlanType: 0
                  currentStock: 0
                  fulfilFromWarehouse: false
                  fulfilFromStore: false
                  fulfilFromSupplier: false
                  trending: false
                  bestSeller: false
                  onSale: false
                  newLaunch: false
                  exclusive: false
                  isVisible: false
                  isActive: false
                  isMasterStock: false
                  hasVariant: false
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Catalog.ProductModelIListResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Catalog.ProductModelIListResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Catalog.ProductModelIListResponseModel'
  /api/v2/commerce/basket/{id}/merge:
    put:
      tags:
      - Basket
      summary: Merge 2 different baskets into one basket
      operationId: BasketMerge
      parameters:
      - name: id
        in: path
        description: target basketId
        required: true
        schema:
          type: string
      - name: sourceBasketId
        in: query
        description: source basketId
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: ""
                messageCode: ""
                result:
                  id: 83871bb2-ea95-4d7d-bbc4-2cc71a8cc8d7
                  currencySymbol: €
                  currencyCode: EUR
                  userId: 47072a21-c789-49e7-bafc-bde21ad125d7
                  userEmail: myemail@example.com
                  grandTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €99.99000
                      withoutTax: €99.99000
                      tax: €.00000
                    raw:
                      withTax: 99.99
                      withoutTax: 99.99
                      tax: 0
                  totalWithoutShipping:
                    currencySymbol: €
                    formatted:
                      withTax: €96.00000
                      withoutTax: €96.00000
                      tax: €.00000
                    raw:
                      withTax: 96
                      withoutTax: 96
                      tax: 0
                  shippingMethodId: STD
                  shippingCharge:
                    currencySymbol: €
                    formatted:
                      withTax: €3.99000
                      withoutTax: €3.99000
                      tax: €.00000
                    raw:
                      withTax: 3.99
                      withoutTax: 3.99
                      tax: 0
                  subTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €99.99000
                      withoutTax: €99.99000
                      tax: €.00000
                    raw:
                      withTax: 99.99
                      withoutTax: 99.99
                      tax: 0
                  discount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  taxPercent: 0
                  additionalCharge:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  lineItems:
                  - id: "0"
                    stockCode: SKU-0001
                    name: Polo Shirt
                    productId: 1C5D16AB-0497-462D-A0D2-B2F8F67335A1
                    productIid: "0"
                    parentProductId: ""
                    brand: Tommy Hilfiger
                    subbrand: Tommy Hilfiger
                    price:
                      currencySymbol: €
                      formatted:
                        withTax: €24.00000
                        withoutTax: €24.00000
                        tax: €.00000
                      raw:
                        withTax: 24
                        withoutTax: 24
                        tax: 0
                    subTotal:
                      currencySymbol: €
                      formatted:
                        withTax: €96.00000
                        withoutTax: €96.00000
                        tax: €.00000
                      raw:
                        withTax: 96
                        withoutTax: 96
                        tax: 0
                    totalPrice:
                      currencySymbol: €
                      formatted:
                        withTax: €96.00000
                        withoutTax: €96.00000
                        tax: €.00000
                      raw:
                        withTax: 96
                        withoutTax: 96
                        tax: 0
                    image: image1.jeg
                    qty: 4
                    displayOrder: 1
                    slug: /product/SKU-0001
                    itemType: 1
                    displayInBasket: false
                    categoryItems:
                    - categoryId: 2058276d-ea25-4787-81b1-4d5566db0920
                      categoryName: Shirt
                      parentCategoryId: 8dae8330-c143-4c18-acac-2ad694d69446
                      parentCategoryName: Clothings
                    attributesJson: ""
                    customInfo1: cust info 1
                    customInfo2: cust info 2
                    customInfo3: cust info 3
                    customInfo4: cust info 4
                    customInfo5: cust info 5
                    discount:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    additionalCharge:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    shortDescription: Polo Shirt Description
                    companyDiscount:
                      currencySymbol: €
                      formatted:
                        withTax: €.00000
                        withoutTax: €.00000
                        tax: €.00000
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    listPrice:
                      currencySymbol: €
                      formatted:
                        withTax: €24.00000
                        withoutTax: €24.00000
                        tax: €.00000
                      raw:
                        withTax: 24
                        withoutTax: 24
                        tax: 0
                    isSubscription: false
                    isMembership: false
                    subscriptionUserSettings:
                      subscriptionPlanId: 00000000-0000-0000-0000-000000000000
                      subscriptionTermId: 00000000-0000-0000-0000-000000000000
                      userPricingType: 0
                      authorizationAmount: 0
                    promotionsApplied:
                    - voucherCode: DISCOUNT15
                      discountPct: 0
                      discountAmt:
                        minPrice: 0
                        minPriceWithoutTax: 0
                        maxPrice: 0
                        maxPriceWithoutTax: 0
                        currencyDecimalSeparator: "."
                        currencyDigitsAfterDecimal: 2
                        currencySymbol: €
                        formatted:
                          withTax: €.00000
                          withoutTax: €.00000
                          tax: €.00000
                        raw:
                          withTax: 0
                          withoutTax: 0
                          tax: 0
                      autoApply: false
                      promoCode: DISCOUNT15
                      name: Dummy Promo
                    isGiftWrapApplied: false
                    giftWrapId: 00000000-0000-0000-0000-000000000000
                    itemGroupId: 0
                    couponProvider: ""
                    isManualPrice: false
                    priceMatchReqId: 00000000-0000-0000-0000-000000000000
                    deliveryMessage: ' delivery message'
                    variantProducts:
                    - productId: 00000000-0000-0000-0000-000000000000
                      price:
                        minPrice: 0
                        minPriceWithoutTax: 0
                        maxPrice: 0
                        maxPriceWithoutTax: 0
                        currencyDecimalSeparator: "."
                        currencyDigitsAfterDecimal: 2
                        currencySymbol: €
                        formatted:
                          withTax: €15.99000
                          withoutTax: €15.99000
                          tax: €.00000
                        raw:
                          withTax: 15.99
                          withoutTax: 15.99
                          tax: 0
                      image: img.jpg
                      productName: Variant SKU
                      variantAttributes: []
                    variantProductsAttribute:
                    - fieldName: color
                      fieldCode: global.color
                      fieldValues: []
                    currentStock: 999
                  promotionsApplied:
                  - discountPct: 0
                    autoApply: false
                  shippingMethods:
                  - id: 00000000-0000-0000-0000-000000000000
                    enabled: false
                    displayOrder: 0
                    expectedDaysToDeliver: 0
                    expectedDeliveryDate: 0001-01-01T00:00:00
                    price:
                      currencySymbol: £
                      formatted:
                        withTax: £0.00
                        withoutTax: £0.00
                        tax: £0.00
                      raw:
                        withTax: 0
                        withoutTax: 0
                        tax: 0
                    isDefault: false
                    isNominated: false
                    type: 0
                    isPriceOnRequest: false
                    showRecomendation: false
                    isTaxable: false
                    shippingCostMethod: 0
                  created: 0001-01-01T00:00:00
                  lastUpdated: 0001-01-01T00:00:00
                  isQuote: false
                  quoteStatus: 0
                  customInfo1: cust info 1
                  customInfo2: cust info 2
                  customInfo3: cust info 3
                  customInfo4: cust info 4
                  customInfo5: cust info 5
                  shippingAddress:
                    id: 0
                    title: Mr.
                    firstName: FName
                    lastName: LName
                    address1: Address Line 1
                    address2: Address Line 2
                    address3: Address Line 3
                    city: London
                    state: London
                    country: United Kingdom
                    countryCode: UK
                    phoneNo: "9999999999"
                    companyName: My Company
                  billingAddress:
                    id: 0
                    title: Mr.
                    firstName: FName
                    lastName: LName
                    address1: Address Line 1
                    address2: Address Line 2
                    address3: Address Line 3
                    city: London
                    state: London
                    country: United Kingdom
                    countryCode: UK
                    phoneNo: "9999999999"
                    companyName: My Company
                  postCode: XX55YY
                  maxDimensionMm: 0
                  companyDiscount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  validUntil: 0001-01-01T00:00:00
                  isLocked: false
                  createdByAdmin: false
                  poNumber: PO00001
                  deliveryInstruction: Please read the give instructions
                  deliveryPlans:
                  - fulfilmentChannel: 0
                    deliveryType: 0
                    deliveryCenter:
                      recordId: 00000000-0000-0000-0000-000000000000
                      type: 0
                    items: []
                    shippingMethodId: 00000000-0000-0000-0000-000000000000
                    cost: 0
                    shippingSpeed: ' - '
                    deliveryDateTarget: 2022-06-30T10:59:09.6295437Z
                    deliveryDateActual: 0001-01-01T00:00:00
                    leadTime: 0
                    leadTimeUom: 0
                    leadTimeMin: 0
                    leadTimeMax: 0
                    pickupStoreId: 00000000-0000-0000-0000-000000000000
                    shippingType: 0
                    recordId: 00000000-0000-0000-0000-000000000000
                  hasSubscription: false
                  subscriptionTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  isGiftWrapApplied: false
                  giftWrapId: 00000000-0000-0000-0000-000000000000
                  membershipPlanId: 00000000-0000-0000-0000-000000000000
                  hasMembership: false
                  exchangeRate: 1
                  baseCurrency: EUR
                  microSiteId: 00000000-0000-0000-0000-000000000000
                  baseCurrencyTotal: 99.99
                  membershipDiscount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
  /api/v2/commerce/basket/{id}/po:
    put:
      tags:
      - Basket
      summary: Update PO# in basket
      operationId: BasketUpdatePOReference
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: poReference
        in: query
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: Success
                messageCode: "1000"
                result:
                  recordId: 00000000-0000-0000-0000-000000000000
                  id: 0
                  isValid: false
            text/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Common.BoolResponseModelResponseModel'
  /api/v2/commerce/basket/{id}/user:
    put:
      tags:
      - Basket
      summary: Update userId in basket
      operationId: BasketUpdateUser
      parameters:
      - name: id
        in: path
        description: basketid
        required: true
        schema:
          type: string
      - name: userId
        in: query
        description: userId
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omnicx.API20.Models.Commerce.BasketModelResponseModel'
              example:
                statusCode: 200
                status: OK
                errors: []
                success: true
                message: ""
                messageCode: ""
                result:
                  id: 0f1b9bb0-ec37-44fa-9720-b922656335a6
                  currencySymbol: €
                  currencyCode: EUR
                  userId: 62b6646e-b2ed-4eda-87b2-7088aa28f510
                  userEmail: myemail@example.com
                  grandTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €99.99000
                      withoutTax: €99.99000
                      tax: €.00000
                    raw:
                      withTax: 99.99
                      withoutTax: 99.99
                      tax: 0
                  totalWithoutShipping:
                    currencySymbol: €
                    formatted:
                      withTax: €96.00000
                      withoutTax: €96.00000
                      tax: €.00000
                    raw:
                      withTax: 96
                      withoutTax: 96
                      tax: 0
                  shippingMethodId: STD
                  shippingCharge:
                    currencySymbol: €
                    formatted:
                      withTax: €3.99000
                      withoutTax: €3.99000
                      tax: €.00000
                    raw:
                      withTax: 3.99
                      withoutTax: 3.99
                      tax: 0
                  subTotal:
                    currencySymbol: €
                    formatted:
                      withTax: €99.99000
                      withoutTax: €99.99000
                      tax: €.00000
                    raw:
                      withTax: 99.99
                      withoutTax: 99.99
                      tax: 0
                  discount:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  taxPercent: 0
                  additionalCharge:
                    currencySymbol: €
                    formatted:
                      withTax: €.00000
                      withoutTax: €.00000
                      tax: €.00000
                    raw:
                      withTax: 0
                      withoutTax: 0
                      tax: 0
                  lineItems:
                  - id: "0"
                    stockCode: SKU-0001
                    name: Polo Shirt
                    productId: 1C5D16AB-0497-462D-A0D2-B2F8F67335A1
                    productIid: "0"
                    parentProductId: ""
                    brand: Tommy Hilfiger
                    subbrand: Tommy Hilfiger
                    price:
                      currencySymbol: €
                      formatted:
                        withTax: €24.00000
                        withoutTax: €24.00000
                        tax: €.00000
                      raw:
                        withTax: 24
                        withoutTax: 24
                        tax: 0
                    subTotal:
                      currencySymbol: €
                      formatted:
                        withTax: €96.00000
                        withoutTax: €96.00000
                        tax: €.00000
                      raw:
                        withTax: 96
                        withoutTax: 96
                        tax: 0
                    totalPrice:
                      currencySymbol: €
                      formatted:
                        withTax: €96.00000
                        withoutTax: €96.00000
                        tax: €.00000
                      raw:
                        withTax: 96
                        withoutTax: 96
                        tax: 0
                    image: image1.jeg
                    qty: 4
                    displayOrder: 1
                    slug: /product/SKU-0001
                    itemType: 1
                    displayInBasket: false
                    categoryItems:
                    - categoryId: bea7cae3-9b54-4895-96bb-8cc4d1921143
                      categoryName: Shirt
                      parentCategoryId: 58f234f2-70e2-4925-b627-4d23d40793c0
[...]
