openapi: 3.0.1
info: 
  title:  Account Tax API For Google Shopping 
  description: The tax settings of a merchant account. All methods require the admin role.
  contact:
    name: Google shopping Account Tax API 
    url: https://developers.google.com/shopping-content/reference/rest/v2.1/accounttax
  version: v 1.0.0
servers: 
  - url:   https://shoppingcontent.googleapis.com/content/v2.1
paths: 
  /accounttax/batch:
    description: "Retrieves and updates tax settings of multiple accounts in a single request."
    post:
     requestBody:
      content:
        application.json:
          schema:
            type: object
            items:
              $ref: '#/components/schemas/AccounttaxCustomBatchRequest'
     security:
        - OAuth2: [admin]           
     responses:
       200:
        description: Retrieves and updates tax settings of multiple accounts in a single request.
        content:
          application.json:
            schema:
              type: object
              properties:
                entries:
                  type: array
                  description: The result of the execution of the batch requests.
                  items:
                    $ref: '#/components/schemas/AccounttaxCustomBatchResponseEntry'
                kind:
                  type: string 
                  description: "Identifies what kind of resource this is. Value: the fixed string 'content#accounttaxCustomBatchResponse'."
  /{merchantId}/accounttax/{accountId}:
    description: "accounts.delete a return carrier in the merchant account."
    get:
     parameters:
      - name: merchantId
        in: path
        description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: accountId
        in: path
        description: 'The ID of the account for which to get/update account tax settings.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
     security:
        - OAuth2: [admin]         
     responses:
       200:
        description: Accounts.delete a return carrier in the merchant account.
        content:
          application.json:
            schema:
              type: object
              items:
                $ref: '#/components/schemas/AccountTax'
  /{merchantId}/accounttax:
    description: Lists the tax settings of the sub-accounts in your Merchant Center account.
    get:
     parameters:
      - name: merchantId
        in: path
        description: 'The ID of the managing account. This must be a multi-client account.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: maxResults
        in: query
        description: 'The maximum number of tax settings to return in the response, used for paging.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: pageToken
        in: query
        description: 'The token returned by the previous request.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
     security:
        - OAuth2: [admin]         
     responses:
       200:
        description: Lists available return carriers in the merchant account.
        content:
          application.json:
            schema:
              type: object
              properties:
                nextPageToken:
                  type: string
                  description: The token for the retrieval of the next page of account tax settings.
                kind:
                  type: string 
                  description: "Identifies what kind of resource this is. Value: the fixed string 'content#accounttaxListResponse'."
                resources:
                  type: array 
                  description: object (AccountTax)
                  items:
                      $ref: '#/components/schemas/AccountTax'
  /{merchantId}/accounttax/{accountId}/accounttax.update:
    description: "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource."
    put:
     parameters:
      - name: merchantId
        in: path
        description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: accountId
        in: path
        description: 'The ID of the account for which to get/update account tax settings.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string          
     requestBody:
      content:
        application.json:
          schema:
            type: object
            items:
              $ref: '#/components/schemas/AccountTax'        
     security:
        - OAuth2: [admin] 
     responses:
       200:
        description: Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.
        content:
          application.json:
            schema:
              type: object
              items:
                $ref: '#/components/schemas/AccountTax'  
components:
  schemas:
      AccounttaxCustomBatchRequest:
        type: object
        properties:
          entries:
            type: array
            description: The request entries to be processed in the batch.
            items:
              $ref: '#/components/schemas/AccounttaxCustomBatchRequestEntry'
      AccounttaxCustomBatchResponseEntry:
        type: object
        properties:
          batchId:
            type: string 
            description: The ID of the request entry this entry responds to.
          kind:
            type: string 
            description: "Identifies what kind of resource this is. Value: the fixed string 'content#accounttaxCustomBatchResponseEntry'"
          accountTax:
            type: object 
            description: The retrieved or updated account tax settings.
            items:
              $ref: '#/components/schemas/AccountTax'
          errors:
            type: object
            description: A list of errors defined if and only if the request failed.
            items:
              $ref: '#/components/schemas/Errors'
      AccountTax:
        type: object
        properties:
          accountId:
            type: string 
            description: Required. The ID of the account to which these account tax settings belong.
          rules:
            type: array
            description: "Tax rules. Updating the tax rules will enable 'US' taxes (not reversible). Defining no rules is equivalent to not charging tax at all."
            items:
              $ref: '#/components/schemas/AccountTaxTaxRule'
          kind:
            type: string 
            description: "Identifies what kind of resource this is. Value: the fixed string 'content#accountTax'."
      Errors:
        type: object 
        properties:
          errors:
            type: array
            description: A list of errors.
            items:
              $ref: '#/components/schemas/Error'
          code: 
            type: integer 
            description: The HTTP status of the first error in errors.
          message:
            type: string 
            description: The message of the first error in errors.
      AccounttaxCustomBatchRequestEntry:
        type: object
        properties:
          batchId: 
            type: string 
            description: An entry ID, unique within the batch request.
          merchantId:
            type: string 
            description: The ID of the managing account.
          method:
            type: string 
            description: "The method of the batch entry. Acceptable values are: 'get' 'update'"
          accountId:
            type: string 
            description: The ID of the account for which to get/update account tax settings.
          accountTax:
            type: object
            description: The account tax settings to update. Only defined if the method is update.
            items: 
              $ref: '#/components/schemas/AccountTax'
      AccountTaxTaxRule:        
        type: object
        properties:
          country:
            type: string 
            description: Country code in which tax is applicable.
          locationId:
            type: string 
            description: Required. State (or province) is which the tax is applicable, described by its location ID (also called criteria ID).
          useGlobalRate:
            type: string 
            description: Whether the tax rate is taken from a global tax table or specified explicitly.
          ratePercent:
            type: string 
            description: Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negativ.
          shippingTaxed:
            type: string 
            description: If true, shipping charges are also taxed.
      Error:
        type: object
        properties:
          domain:
            type: string 
            description: The domain of the error.
          reason:
            type: string 
            description: The error code.
          message:
            type: string 
            description: A description of the error.
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            admin: Grants access to admin operations            
