openapi: 3.0.1
info: 
  title: Account Credentials API For Google Shopping 
  description: Credentials allowing Google to call a partner's API on behalf of a merchant.
  contact:
    name: Google shopping Account Credentials APi 
    url: https://developers.google.com/
  version: v 1.0.0
servers: 
  - url:  https://shoppingcontent.googleapis.com/content/v2.1
paths: 
  /accounts/{accountId}/credentials:
    description: "Uploads credentials for the Merchant Center account. If credentials already exist for this Merchant Center account and purpose, this method updates them."
    post:
     parameters:
      - name: accountId
        in: path
        description: 'Required. The merchant id of the account these credentials belong to.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
     requestBody:
      content:
        application.json:
          schema:
            type: object
            items:
              $ref: '#/components/schemas/AccountCredentials'
     security:
        - OAuth2: [admin]          
     responses:
       200:
        description: Uploads credentials for the Merchant Center account
        content:
          application.json:
            schema:
              type: object
              items:
                  $ref: '#/components/schemas/AccountCredentials' 
components:
  schemas:
      AccountCredentials:
        type: object
        properties:
          purpose:
            type: string
            description: Indicates to Google how Google should use these OAuth tokens.
            enum: [ACCOUNT_CREDENTIALS_PURPOSE_UNSPECIFIED, SHOPIFY_ORDER_MANAGEMENT]
          accessToken:
            type: string
            description: An OAuth access token.
          expiresIn:
            type: string
            description: The amount of time, in seconds, after which the access token is no longer valid.
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            admin: Grants access to admin operations
  