openapi: 3.0.1
info: 
  title: Csses  API For Google Shopping 
  description: Information about CSS domain.
  contact:
    name: Csses APi 
    url: https://developers.google.com/shopping-content/reference/rest/v2.1/csses
  version: v 1.0.0
servers: 
  - url:  https://shoppingcontent.googleapis.com/content/v2.1
paths: 
  /{cssGroupId}/csses/{cssDomainId}:
    description: Retrieves a single CSS domain by ID.
    get:
     parameters:
      - name: cssGroupId  
        in: path
        description: 'Required. The ID of the managing account. If this parameter is not the same as cssDomainId, then this ID must be a CSS group ID and cssDomainId must be the ID of a CSS domain affiliated with this group.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: cssDomainId
        in: path
        description: 'Required. The ID of the CSS domain to return'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
     security:
      - OAuth2: [admin]
     responses:
       200:
        description: Retrieves a single CSS domain by ID.
        content:
          application.json:
            schema:
              type: object
              items:
                $ref: '#/components/schemas/Css'
  /{cssGroupId}/csses:
    description: Lists CSS domains affiliated with a CSS group.
    get:
     parameters:
      - name: cssGroupId
        in: path
        description: Required. The CSS group ID of CSS domains to be listed.
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: pageSize  
        in: query
        description: 'The maximum number of CSS domains to return. The service may return fewer than this value. If unspecified, at most 50 CSS domains will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: integer
      - name: pageToken  
        in: query
        description: 'A page token, received from a previous csses.list call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to csses.list must match the call that provided the page token.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
     security:
      - OAuth2: [admin]
     responses:
       200:
        description: Lists CSS domains affiliated with a CSS group.
        content:
          application.json:
              schema:
                type: object
                properties:
                  csses:
                    type: array
                    description: The CSS domains affiliated with the specified CSS group.
                    items:
                      $ref: '#/components/schemas/Css'
                  nextPageToken:
                    type: string
                    description: A token, which can be sent as pageToken to retrieve the next page. If this field is omitted, there are no subsequent pages.
  /{cssGroupId}/csses/{cssDomainId}/updatelabels:
    description: Updates labels that are assigned to a CSS domain by its CSS group.
    post:
     parameters:
      - name: cssGroupId
        in: path
        description: Required. The CSS group ID of the updated CSS domain.
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
      - name: cssDomainId  
        in: path
        description: 'Required. The ID of the updated CSS domain.'
        required: true
        explode: false
        schema:
          type: object
          items:
            type: string
     requestBody:
      content:
        application.json:
          schema:
            type: object
            items:
              $ref: '#/components/schemas/LabelIds'        
     security:
      - OAuth2: [admin]
     responses:
       200:
        description: Lists CSS domains affiliated with a CSS group.
        content:
          application.json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Css' 
components:
  schemas:
      Css:
        type: object
        properties:
          cssDomainId:
            type: string
            description: Output only. Immutable. The CSS domain ID.
          fullName:
            type: string
            description: utput only. Immutable. The CSS domain's full name.
          displayName:
            type: string 
            description: "Output only. Immutable. The CSS domain's display name, used when space is constrained."
          homepageUri:
            type: string
            description: "Output only. Immutable. The CSS domain's homepage."
          cssGroupId:
            type: string  
            description: "Output only. Immutable. The ID of the CSS group this CSS domain is affiliated with. Only populated for CSS group users."
          labelIds:
            type: array 
            description: A list of label IDs that are assigned to this CSS domain by its CSS group. Only populated for CSS group users.
            items:
              type: string 
      LabelIds:
        type: object
        properties:
          labelIds:
            type: array 
            description: ThThe list of label IDs.
            items:
              type: string 
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            admin: Grants access to admin operations